.mainContainerFooter {
  display: none;
  background: black !important;
  height: 53px;
  position: sticky;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(56, 68, 77);
  z-index: 1;
}

mat-icon {
  transform: scale(1.2);
  align-self: center;
}

@media screen and (max-width:498px) {

  .mainContainerFooter {
    display: flex;
  }

}
