<div fxLayout="column" fxLayoutAlign=" stretch" class="profileContainer">
  <div class="header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40">
    <mat-icon class="cursorPointer" routerLink="/home">keyboard_backspace</mat-icon>
    <div fxLayout="column" fxLayoutGap="4">
      <span class="headerUserFirstName">
        souzinha
      </span>
      <span class="headerUserPosts">
        289 posts
      </span>
    </div>
  </div>
  <div fxLayout="column">
    <div class="profileBackground cursorPointer"></div>
    <div fxLayout="column" fxLayoutGap="15" style="padding: 0 16px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div class="profilePicture cursorPointer">
            <div class="picture"></div>
          </div>
        </div>
        <button class="transparentButton cursorPointer" style="padding: 8px 16px; letter-spacing: 0.5px;">
          Editar perfil
        </button>
      </div>

      <div fxLayout="column" fxLayoutGap="4">
        <span class="headerUserFirstName">
          souzinha
        </span>
        <span class="headerUserUsername">
          @souzxvini
        </span>
      </div>

      <div class="biography">
        <span>
          011 | Software Developer
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="10" class="informations">
        <span class="info" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>location_on</mat-icon> <span>SP</span>
        </span>
        <span class="info" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>link</mat-icon> <a class="blueLinks" target="_blank" href="https://www.instagram.com/souzxvini_/">instagram.com/souzxvini_/</a>
        </span>
        <span class="info" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>event_note</mat-icon> <span>Ingressou em agosto de 2021</span>
        </span>
      </div>

      <div fxLayout="row" fxLayoutGap="20">
        <div fxLayout="row" fxLayoutGap="4" class="follows cursorPointer">
          <span class="followsNumber">189</span>
          <span class="followsText">Seguindo</span>
        </div>

        <div fxLayout="row" fxLayoutGap="4" class="follows cursorPointer">
          <span class="followsNumber">276</span>
          <span class="followsText">Seguidores</span>
        </div>
      </div>
    </div>

    <div fxLayout="row" style="margin-top: 15px; border-bottom: 1px solid rgb(56, 68, 77);">
      <button fxFlex class="bigButtonOnGroup" (click)="tabState = 'statePosts'"
        [class.bigButtonOnGroupActive]="tabState == 'statePosts'">
        <div></div>
        <span>Posts</span>
        <div [class.bigButtonOnGroupActiveBorder]="tabState == 'statePosts'"></div>
      </button>
      <button fxFlex class="bigButtonOnGroup" (click)="tabState = 'stateRespostas'"
        [class.bigButtonOnGroupActive]="tabState == 'stateRespostas'">
        <div></div>
        <span>Respostas</span>
        <div [class.bigButtonOnGroupActiveBorder]="tabState == 'stateRespostas'"></div>
      </button>
      <button fxFlex class="bigButtonOnGroup" (click)="tabState = 'stateMidias'"
        [class.bigButtonOnGroupActive]="tabState == 'stateMidias'">
        <div></div>
        <span>Mídia</span>
        <div [class.bigButtonOnGroupActiveBorder]="tabState == 'stateMidias'"></div>
      </button>
      <button fxFlex class="bigButtonOnGroup" (click)="tabState = 'stateCurtidas'"
        [class.bigButtonOnGroupActive]="tabState == 'stateCurtidas'">
        <div></div>
        <span>Curtidas</span>
        <div [class.bigButtonOnGroupActiveBorder]="tabState == 'stateCurtidas'"></div>
      </button>
    </div>

    <div>
      <app-tweet></app-tweet>
    </div>

  </div>
</div>
