.profileContainer {
  width: 100%;
  min-height: 100%;
  border-left: 1px solid rgb(56, 68, 77);
  border-right: 1px solid rgb(56, 68, 77);
}

.header {
  height: 6vh;
  padding: 0 16px;
}

.headerUserFirstName {
  font-size: 20px;
  font-weight: 600;
}

.headerUserPosts {
  font-size: 13px;
  color: #71767b;
}

.profileBackground {
  height: 200px;
  background-image: url(../../../assets/img/banner-milly.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.profilePicture {
  background-color: black;
  width: 130px;
  height: 130px;
  margin-top: -65px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 100%;
}

.picture {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: url(../../../assets/img/profile-image.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  transition: 0.2s opacity ease-in-out;
}

.profilePicture:hover .picture {
  opacity: 0.9;
}

.headerUserUsername {
  font-size: 15px;
  color: #71767b;
}

.biography span {
  font-size: 15px;
  font-weight: 500;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Define uma cor de fundo semi-transparente */
  z-index: 9999;
}

.info mat-icon {
  color: #71767b !important;
  transform: scale(0.8);
  word-break: normal;
}

.info span {
  color: #71767b !important;
  font-size: 15px;
}

.info a {
  font-size: 15px;
}

.informations {
  flex-wrap: wrap;
}

.followsNumber {
  font-weight: 700;
  font-size: 14px;
}

.followsText {
  font-size: 14px;
  color: #71767b;
}

.follows:hover{
  text-decoration: underline !important;
  color: white;
}
