<div fxLayout="column" fxLayoutAlign=" stretch">
    <!--HEADER-->
    <div style="padding: 0px 16px; height: 53px;" fxLayout="row" fxLayoutAlign="start center">
      <div style="width: 56px;" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxLayoutAlign="start center">
          <button mat-mini-fab class="selectPhotoIconButton" (click)="filteredProfilesPanelState ? filteredProfilesPanelState = false : location.back(); ">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
      </div>
      <div [style]="(isMobileSize | async) && !filteredProfilesPanelState ? 'width: calc(100% - 112px); height: 27px !important;' :
      (isMobileSize | async) && filteredProfilesPanelState ? 'width: calc(100% - 56px); height: 27px;' : 
      'width: calc(100% - 56px); height: 43px;'">
        <app-search-twitter-button [filteredProfilesPanelState]="filteredProfilesPanelState" (newItemEvent)="setPanelState($event);"></app-search-twitter-button>
      </div>
      <div style="width: 56px;" fxLayout="row" fxLayoutAlign="end center" [fxHide]="(isMobileSize | async) && filteredProfilesPanelState">
        <button mat-mini-fab class="selectPhotoIconButton blockCursor">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>
  
    <mat-tab-group fitInkBarToContent>
      <mat-tab label="Principais"></mat-tab>
      <mat-tab label="Mais recentes"></mat-tab>
      <mat-tab label="Pessoas"></mat-tab>
      <mat-tab label="Mídia"></mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>
  
  </div>
  