.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min(7vh);
  background-color: black;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 850px;
}

.formContainer {
  background-color: transparent;
  padding: 16px;
}

.title {
  font-family: 'TwitterChirpExtendedHeavy' !important;
  font-size: 64px;
  margin: 48px 0px;
}

.subtitle {
  font-family: 'TwitterChirpExtendedHeavy' !important;
  font-size: 31px;
  margin-bottom: 32px;
}

.buttonsDiv {
  width: 300px !important;
}

//Botões em geral
.loginButton {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

//Botão de login pelo Google Accounts
.googleAccountLoginButton {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  background-color: white;
  color: black;
  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.googleAccountLoginButton:hover {
  background-color: rgb(233, 233, 233);
}

.googleAccountLoginButtonImage {
  width: 20px !important;
  height: 20px !important;
}

.googleAccountLoginButtonImage img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 100%;
}

.googleAccountLoginButtonText {
  font-family: "Roboto" !important;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.googleAccountLoginButtonText span:first-child {
  font-weight: 500;
  font-size: 12px;
}

.googleAccountLoginButtonText span:last-child {
  color: #5f6368;
  font-weight: 500;
  font-size: 11px;
}

//Botão fazer login com Apple
.appleButton {
  color: black;
  background-color: white;
}

.appleButton:hover {
  background-color: rgb(233, 233, 233);
}

//Botão Criar Conta
.createAccountButton {
  color: white;
  background-color: rgb(29, 155, 240);
}

.createAccountButton:hover {
  background-color: rgb(18, 147, 233);
}

//Botão de Login
.mainLoginButton{
  background-color: transparent;
  color: rgb(29, 155, 240);
  border: solid 1px rgb(83, 100, 113);
}

.mainLoginButton:hover{
  background-color: rgba(42, 150, 223, 0.02);
}

.mat-divider {
  border-top-width: 1px;
  border-top-color: #363636;
}

.loginContainer span{
  font-weight: 900;
  font-size: 17px;
  margin-bottom: 20px !important;
}

//Footer
.footer{
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 16px;
}

.footer a{
  margin: 4px 0 !important;
  padding-right: 16px !important;
  font-weight: 400;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 13px;
  color: rgb(113, 118, 123);
}

.footer a:hover{
 text-decoration: underline;
 cursor: not-allowed;
}
