<div class="container">
  <div class="mainContainer">
    <div class="displayCentralize" style="padding: 50px;">
      <img style="max-width: 100%; height: auto; max-height: 300px;" src="../../../assets/img/twitter-x-logo.png">
    </div>

    <div class="formContainer" fxLayout="row" fxLayoutAlign="center center">
      <div class="displayColumn" style="width: 100%;">
        <span class="title">Acontecendo agora</span>

        <span class="subtitle">Inscreva-se hoje</span>

        <div class="buttonsDiv">
          <div class="googleAccountLoginButton backgroundTransition" style="margin-bottom: 12px;">
            <div class="googleAccountLoginButtonImage">
              <img src="../../../assets/img/profile-image.png">
            </div>
            <div class="googleAccountLoginButtonText">
              <span>Fazer login como Vinicius</span>
              <span>vnsoliveira2512@gmail.com</span>
            </div>
            <div class="googleAccountLoginButtonImage">
              <img src="../../../assets/img/google-logo.png">
            </div>
          </div>

          <div class="displayCentralize loginButton appleButton backgroundTransition">
            <strong>Inscrever-se com Apple</strong>
          </div>

          <div style="display: grid; grid-template-columns: 1fr 30px 1fr; align-items: center; margin-bottom: 10px;">
            <mat-divider></mat-divider>
            <span style="display: flex; align-items: center; justify-content: center;">ou</span>
            <mat-divider></mat-divider>
          </div>

          <div class="displayCentralize loginButton createAccountButton backgroundTransition" (click)="openCreateAccountDialog()">
            <strong>Criar conta</strong>
          </div>

          <div class="twitterTerms" style="margin-bottom: 70px;">
            Ao se inscrever, você concorda com os <a class="blueLinks blockCursor">Termos de Serviço</a>
            e a <a class="blueLinks blockCursor">Politica de Privacidade</a>, incluindo o <a
              class="blueLinks blockCursor">Uso de Cookies</a>.
          </div>

          <div class="loginContainer displayColumn">
            <span>Já tem uma conta?</span>
            <div class="displayCentralize loginButton mainLoginButton backgroundTransition">
              <strong>Entrar</strong>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <a>Sobre</a>
    <a>Central de Ajuda</a>
    <a>Termos de Serviço</a>
    <a>Política de Privacidade</a>
    <a>Política de cookies</a>
    <a>Acessibilidade</a>
    <a>Informações de anúncios</a>
    <a>Blog</a>
    <a>Status</a>
    <a>Carreiras</a>
    <a>Recursos da marca</a>
    <a>Publicidade</a>
    <a>Marketing</a>
    <a>X para Empresas</a>
    <a>Desenvolvedores</a>
    <a>Diretório</a>
    <a>Configurações</a>
    <a>@2023 X Corp.</a>
  </div>
</div>
