<div class="container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div class="mainContainer">
    <div class="displayCentralize logoDiv" style="padding: 50px;">
      <img style="max-width: 100%; height: auto; max-height: 300px;" src="../../../assets/img/twitter-x-logo.png">
    </div>

    <div class="formContainer" fxLayout="row" fxLayoutAlign=" center">
      <div class="formDiv" fxLayout="column">

        <div class="formDivTwitterLogo" style="height: 40px; width: 40px; margin-top: 40px;">
          <img src="../../../../assets/img/twitter-x-logo.png" style="width: 100%; height: 100%;">
        </div>

        <span class="title">Acontecendo agora</span>

        <span class="subtitle">Inscreva-se hoje</span>

        <div class="buttonsDiv" fxLayout="column" fxLayoutGap="10">
          <div class="whiteButton blockCursor _36pxButton" fxLayoutGap="10">
            <img src="../../../../assets/img/google-logo.png" style="width: 20px; height: 20px;">
            <strong>Inscrever-se com Google</strong>
          </div>

          <div class="whiteButton blockCursor _36pxButton" fxLayoutGap="10">
            <img src="../../../../assets/img/apple_logo.png" style="width: 15px; height: 20px;">
            <strong>Inscrever-se com Apple</strong>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5">
            <mat-divider fxFlex="45"></mat-divider>
            <span fxFlex="10" fxLayout="row" fxLayoutAlign="center center">ou</span>
            <mat-divider fxFlex="45"></mat-divider>
          </div>

          <div class="blueButton _36pxButton cursorPointer" (click)="openCreateAccountDialog()">
            <strong>Criar conta</strong>
          </div>

          <div class="twitterTerms" style="margin-bottom: 70px;">
            Ao se inscrever, você concorda com os <a class="blueLinks blockCursor">Termos de Serviço</a>
            e a <a class="blueLinks blockCursor">Politica de Privacidade</a>, incluindo o <a
              class="blueLinks blockCursor">Uso de Cookies</a>.
          </div>

          <div class="loginContainer" fxLayout="column">
            <span>Já tem uma conta?</span>
            <div class="transparentButtonBlueText _36pxButton cursorPointer" (click)="openLoginModal()">
              <strong>Entrar</strong>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <a>Sobre</a>
    <a>Central de Ajuda</a>
    <a>Termos de Serviço</a>
    <a>Política de Privacidade</a>
    <a>Política de cookies</a>
    <a>Acessibilidade</a>
    <a>Informações de anúncios</a>
    <a>Blog</a>
    <a>Status</a>
    <a>Carreiras</a>
    <a>Recursos da marca</a>
    <a>Publicidade</a>
    <a>Marketing</a>
    <a>X para Empresas</a>
    <a>Desenvolvedores</a>
    <a>Diretório</a>
    <a>Configurações</a>
    <a>@2023 X Corp.</a>
  </div>
</div>
