<div #searchButton class="searchButton" (click)="focusInput()" fxLayout="row" fxLayoutAlign="center center"
  cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <div fxFlex="60px" fxLayout="row" fxLayoutAlign="center center" class="searchButtonIcon">
    <mat-icon>search</mat-icon>
  </div>
  <div fxFlex='calc(100% - 60px)' class="searchButtonInput">
    <input type="text" placeholder="Buscar" #searchInput (keyup)="searchAccounts($event)"
      [(ngModel)]="searchInputValue">
  </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="filteredProfilesPanelState"
  cdkConnectedOverlayBackdropClass="transparentModalStyleBackdrop" [cdkConnectedOverlayHasBackdrop]="false"
  (backdropClick)="filteredProfilesPanelState = !filteredProfilesPanelState; newItemEvent.emit(false);"
  [cdkConnectedOverlayPositions]="cdkConnectedOverlayPositions">

  <div #filteredProfilesPanel class="mat-elevation-z8" fxLayout="column"
    [class.exploreFilteredProfilesPanel]="router.url.includes('explore')"
    [class.searchFilteredProfilesPanel]="router.url.includes('search')"
    [class.filteredProfilesPanel]="!(router.url.includes('explore') || router.url.includes('search'))">
    <mat-progress-bar mode="indeterminate" *ngIf="!loadedFilteredUsers"></mat-progress-bar>

    <div *ngIf="searchHistoric.length > 0 && filteredProfiles.length == 0 && !searchInputValue">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 12px 16px;">
        <span style="font-size: 20px; font-weight: 600;">Recente</span>
        <span class="clearAllButton" (click)="clearHistoric()">Limpar tudo</span>
      </div>
      <div *ngFor="let item of searchHistoric">
        <div *ngIf="item.searchedUser" class="profile" (click)="redirectToProfile(item.searchedUser.username)">
          <div style="width: 40px;">
            <div class="profilePicture" style="width: 40px; height: 40px;"
              [style]="setProfilePhoto(item.searchedUser.profilePhotoUrl)">
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="2" fxFlex='calc(100% - 80px)' style="padding-left: 10px;">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span [style]="item.searchedUser.isVerified ? 'max-width: calc(100% - 18px)' : 'max-width: 100%'"
                class="userFirstName">
                {{ item.searchedUser.firstName }}
              </span>
              <div style="width: 18px;" *ngIf="item.searchedUser.isVerified">
                <img style="width: 18px; height: 18px;" src="../../../../assets/img/twitter-verified.png">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3">
              <span [style]="item.searchedUser.isFollowingMe ? 'max-width: calc(100% - 70px)' : 'max-width: 100%'"
                class="userUsername">
                @{{ item.searchedUser.username  }}
              </span>
              <span *ngIf="item.searchedUser.isFollowingMe" class="followsYou" fxLayoutAlign="center center">Segue
                você</span>
            </div>
          </div>

          <div style="width: 40px;" fxLayout="row" fxLayoutAlign="center center">
            <button mat-mini-fab class="selectPhotoIconButton"
              (click)="$event.stopPropagation(); deleteFromHistoric(item.identifier)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div style="padding: 16px; font-size: 15px; color: #71767b; text-align: center;"
      *ngIf="filteredProfiles.length == 0 && !searchInputValue && searchHistoric.length == 0">
      <span>Tente buscar por pessoas, listas ou palavras-chave</span>
    </div>

    <div class="searchBy" *ngIf="loaded && searchInputValue">
      Buscar por "{{searchInputValue}}"
    </div>

    <div *ngIf="loaded && filteredProfiles.length > 0 && searchInputValue" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let profile of filteredProfiles" class="profile"
        (click)="redirectToProfile(profile.username)">
        <div style="width: 40px;">
          <div class="profilePicture" style="width: 40px; height: 40px;"
            [style]="setProfilePhoto(profile.profilePhotoUrl)">
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="2" fxFlex='calc(100% - 40px)' style="padding-left: 10px;">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span [style]="profile.isVerified ? 'max-width: calc(100% - 18px)' : 'max-width: 100%'"
              class="userFirstName">
              {{ profile.firstName }}
            </span>
            <div style="width: 18px;" *ngIf="profile.isVerified">
              <img style="width: 18px; height: 18px;" src="../../../../assets/img/twitter-verified.png">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex class="userUsername">
              @{{ profile.username  }}
            </span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="profile.isFollowingMe && profile.isFollowedByMe">
            <span fxFlex class="userUsername" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon style="transform: scale(0.6); margin-left:-3px; width: 20px;">person</mat-icon>
              <span fxFlex="max-width: calc(100% - 18px)"> Vocês se seguem mutuamente</span>
            </span>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="profile.isFollowingMe && !profile.isFollowedByMe">
            <span fxFlex class="userUsername" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon style="transform: scale(0.6); margin-left:-3px; width: 20px;">person</mat-icon>
              <span fxFlex="max-width: calc(100% - 18px)"> Segue você</span>
            </span>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!profile.isFollowingMe && profile.isFollowedByMe">
            <span fxFlex class="userUsername" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon style="transform: scale(0.6); margin-left:-3px; width: 20px;">person</mat-icon>
              <span fxFlex="max-width: calc(100% - 18px)"> Seguindo</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="searchBy" *ngIf="loaded && searchInputValue">
      Acesse @{{searchInputValue}}
    </div>
  </div>
</ng-template>
