.whoToFollowCard {
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #16181c;
}

.whoToFollowCardTitle {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 600;
}

.whoToFollowAccountButton {
  padding: 12px 16px;
  transition: 0.2s ease-in-out background-color;
}

.whoToFollowAccountButton:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

/*Show more Button*/
.whoToFollowCardFooter {
  padding: 12px 16px;
  color: rgb(29, 155, 240) !important;
  font-size: 15px;
  border-radius: 0 0 25px 25px;
  transition: 0.2s ease-in-out background-color;
}

.whoToFollowCardFooter:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.07);
}

.noAccountsCard{
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #16181c;
}

.message{
  color: rgb(117, 130, 143);
  font-size: 15px;
}

.noAccountsCard mat-icon{
  color: rgb(117, 130, 143);
  transform: scale(2.5);
}