<div class="whoToFollowCard">
  <div class="whoToFollowCardTitle">
    <span>Who to follow</span>
  </div>

  <div class="whoToFollowCardProfileCardDoFollowYou">
    <div class="whoToFollowCardProfileImageDiv">
      <img src="../../../assets/img/veigh_profile_picture.jpg" class="sideNavMenuProfileButtonImage">
    </div>
    <div class="whoToFollowCardProfile">
      <div class="whoToFollowCardProfileName">VEIGH “Dos Prédios” ervrte vt tvr rvwrer q</div>
      <div class="whoToFollowCardProfileIdFollowsYouDiv">
        <div class="whoToFollowCardProfileId">@thiagoavewvwevwevwevevwvewvwevwevscs</div>
        <div class="whoToFollowCardProfileFollowsYou">
          <span>Follows you</span>
        </div>
      </div>
    </div>
    <div class="whoToFollowCardFollowButton">
      <button>Follow</button>
    </div>
  </div>

  <div class="whoToFollowCardProfileCardDoFollowYouButtonFollowing">
    <div class="whoToFollowCardProfileImageDiv">
      <img src="../../../assets/img/veigh_profile_picture.jpg" class="sideNavMenuProfileButtonImage">
    </div>
    <div class="whoToFollowCardProfile">
      <div class="whoToFollowCardProfileName">VEIGH “Dos Prédios” ervrte vt tvr rvwrer q</div>
      <div class="whoToFollowCardProfileIdFollowsYouDiv">
        <div class="whoToFollowCardProfileId">@thiagoavewvwevwevwevevwvewvwevwevscs</div>
        <div class="whoToFollowCardProfileFollowsYou">
          <span>Follows you</span>
        </div>
      </div>
    </div>
    <div class="whoToFollowCardFollowButton">
      <button (mouseenter)="followingButonOnHover(true)"
        (mouseleave)="followingButonOnHover(false)">{{ buttonText }}</button>
    </div>
  </div>

  <div class="whoToFollowCardProfileCardDoNotFollowYou">
    <div class="whoToFollowCardProfileImageDiv">
      <img src="../../../assets/img/vitor-souza-profile-img.jpeg" class="sideNavMenuProfileButtonImage">
    </div>
    <div class="whoToFollowCardProfile">
      <div class="whoToFollowCardProfileName">Vitor SOuza Olvieira Desenvolvedor</div>
      <div class="whoToFollowCardProfileIdFollowsYouDiv">
        <div class="whoToFollowCardProfileId">@vsouzxdesenvolvedorjavapleno</div>
        <div class="whoToFollowCardProfileFollowsYou">
          <span>Follows you</span>
        </div>
      </div>
    </div>
    <div class="whoToFollowCardFollowButton">
      <button>Follow</button>
    </div>
  </div>

  <div class="whoToFollowCardProfileCardDoNotFollowYouButtonFollowing">
    <div class="whoToFollowCardProfileImageDiv">
      <img src="../../../assets/img/vitor-souza-profile-img.jpeg" class="sideNavMenuProfileButtonImage">
    </div>
    <div class="whoToFollowCardProfile">
      <div class="whoToFollowCardProfileName">Vitor SOuza Olvieira Desenvolvedor</div>
      <div class="whoToFollowCardProfileIdFollowsYouDiv">
        <div class="whoToFollowCardProfileId">@vsouzxdesenvolvedorjavapleno</div>
        <div class="whoToFollowCardProfileFollowsYou">
          <span>Follows you</span>
        </div>
      </div>
    </div>
    <div class="whoToFollowCardFollowButton">
      <button (mouseenter)="followingButonOnHover(true)"
        (mouseleave)="followingButonOnHover(false)">{{ buttonText }}</button>
    </div>
  </div>

  <div class="whoToFollowCardFooter">
    <span>Show more</span>
  </div>
</div>
