<div style="width: 100%; min-height: 100%; display: flex;">
  <div class="mainContainer">
    <div class="mainContainerHeader">
      <div class="mainContainerTitle">
        <span>Home</span>
      </div>
      <div class="mainContainerHeaderMobile">
        <div style="width:33%; height: 6vh; display: flex; align-items: center;">
          <img src="../../../assets/img/profile-image.png" class="mainContainerHeaderMobileImage"
            (click)="onButtonClick()">
        </div>
        <div style="width:34%; display: flex; justify-content: center;">
          <div style="width: 6vh; height: 100%;">
            <div class="headerLogo"></div>
          </div>
        </div>
        <div style="width:33%;">

        </div>
      </div>
      <div class="mainContainerTabs">
        <button class="bigButtonOnGroup" (click)="tabState = 'stateForYou'"
          [class.bigButtonOnGroupActive]="tabState == 'stateForYou'">
          <div>
            <div></div>
            <span>For you</span>
            <div [class.bigButtonOnGroupActiveBorder]="tabState == 'stateForYou'"></div>
          </div>
        </button>
        <button class="bigButtonOnGroup" (click)="tabState = 'stateFollowing'"
          [class.bigButtonOnGroupActive]="tabState == 'stateFollowing'">
          <div>
            <div></div>
            <span>Following</span>
            <div [class.bigButtonOnGroupActiveBorder]="tabState == 'stateFollowing'"></div>
          </div>
        </button>
      </div>
    </div>

    <div class="mainContainerTweet">
      <div>
        <div>

        </div>
        <div>
        </div>
      </div>
    </div>

    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>
    <div style="height: 200px">
      a
    </div>

    <app-mobile-footer-nav></app-mobile-footer-nav>
  </div>
</div>
