
.mainContainer {
  width: 100%;
  min-height: 100%;
  border-left: 1px solid rgb(56, 68, 77);
  border-right: 1px solid rgb(56, 68, 77);
}

.mainContainerHeader{
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(56, 68, 77);
  background-color: rgba(0, 0, 0, 0.65);
  transition: 0.2s ease-in-out top;
}

.mainContainerHeaderMobile{
  display: none;
}

.mainContainerTitle {
  height: 6vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 19px !important;
  font-weight: 600 !important;
  letter-spacing: 1.3px !important;
  margin-left: 17px;
}

.mainContainerTweet{
  width: 100%;
}

.mainContainerTweet{
  width: 100%;
  padding: 0px 16px;
  display: flex;
  background-color: red;
}

.mainContainerHeaderMobileImage{
  width: 4vh;
  height: 4vh;
  padding: 0 15px;
  border-radius: 100%;
}

@media screen and (max-width:498px) {

  .mainContainer{
    border: none;
  }

  .mainContainerTitle{
    display: none;
  }

  .mainContainerHeaderMobile{
    display: flex;
    justify-content: space-between;
    height: 6vh;
  }
  
  .mainContainerFooter{
    display: flex;
  }

}
