
.mainContainer {
  width: 100%;
  min-height: 100%;
}

.mainContainerHeaderMobile{
  display: none;
}

.mainContainerHeaderMobileImage{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0 16px;
}

.mainContainerHeaderMobileLogoImage{
  width: 25px;
  height: 25px;
}

@media screen and (max-width:498px) {

  .mainContainer{
    border: none;
  }

  .mainContainerHeaderMobile{
    display: block;
    height: 100%;
  }
  
  .mainContainerFooter{
    display: flex;
  }

}
