<div style="width: 100%; min-height: 100%; display: flex;">
  <div class="mainContainer">
    <div class="mainContainerTitle">
      <span>Home</span>
    </div>
    <div style="height: 190px; position: sticky; top: 6vh">
      a
    </div>
    <div style="height: 190px;">
      a
    </div><div style="height: 190px;">
      a
    </div><div style="height: 190px;">
      a
    </div><div style="height: 190px;">
      a
    </div><div style="height: 190px;">
      a
    </div>
    <div style="height: 190px;">
      a
    </div>
    <div style="height: 190px;">
      a
    </div>
    <div style="height: 190px;">
      a
    </div>
    <div style="height: 190px;">
      a
    </div>
    <div style="height: 190px;">
      a
    </div>
    <div style="height: 190px;">
      a
    </div>
    
  </div>
  <div style="width: 54.5%;">
    <router-outlet></router-outlet>
  </div>
</div>
