<div style="height: 100%; width: 100%; overflow-y: auto; overflow-x: hidden;" [style]="!loaded ? 'opacity: 0.8; pointer-events: none' : ''">
  <div style="padding: 0 16px; height: 53px; width: 100%;" id="bluredHeaderStyle" fxLayout="row"
    fxLayoutAlign="space-between center">
    <button mat-mini-fab [disabled]="!loaded" mat-dialog-close [@fadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '350ms' } }"> 
      <mat-icon>close</mat-icon>
    </button>
    <span class="boldBlueText blockCursor" [@fadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '350ms' } }">Rascunhos</span>
  </div>

  <div fxLayout="column" style="padding: 16px;" fxLayoutGap="15">
    <div fxFlex fxLayout="row" fxLayoutGap="5" [@fadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '450ms' } }">
      <div fxLayout="column" fxLayoutGap="5" fxLayoutAlign="start center">
        <div style="width: 50px;" fxLayoutAlign="center start">
          <div class="profilePicture" style="width: 40px; height: 40px;"
            [style]="setProfilePhoto(data.userProfilePhotoUrl)">
          </div>
        </div>

        <div style="width: 2px; background-color: #333639; height: 100%;"></div>
      </div>

      <div fxFlex="calc(100% - 50px)" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span class="userFirstName" style="margin-right: 5px;">{{data.userFirstName}}</span>
          <span class="userUsername">{{'@' + data.userUsername}}</span>
          <mat-icon class="userUsername" style="transform: scale(0.1); margin: 0 -5px;">brightness_1</mat-icon>
  
          <span class="userUsername">{{ showTweetTime(data.publicationTime, data.nowTime) }}</span>
        </div>
  

        @if(data.tweetMessage){
        <span class="userBiography" style="margin-bottom: 5px;"> {{ data.tweetMessage }}</span>
        }

        <span class="userUsername" style="margin: 7px 0 16px 0">Respondendo a <span
            style="color: #1d9bf0">{{'@' + data.userUsername}}</span></span>
      </div>
    </div>

    <form fxFlex [formGroup]="newCommentForm">
      <div fxLayout="row" style="min-height: 100px;" fxLayoutGap="5" [@fadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '550ms' } }">
        <div style="width: 50px;" fxLayoutAlign="center start">
          <div class="profilePicture" style="width: 40px; height: 40px;"
            [style]="setProfilePhoto(loggedUser.profilePhotoUrl)">
          </div>
        </div>

        <div fxFlex="calc(100% - 50px)" fxLayout="column" fxLayoutGap="10">

          <textarea class="newTweetMessage" formControlName="message" (input)="adjustTextarea($event)"
            placeholder="Postar sua resposta"></textarea>

          <app-new-tweet-images [selectedFilesUrl]="selectedFilesUrl" [selectedFiles]="selectedFiles"/>

        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 10px;" [@fadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '650ms' } }">

        <app-new-tweet-icons-actions [selectedFilesUrl]="selectedFilesUrl" [selectedFiles]="selectedFiles" />

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
          @if(newCommentForm.controls['message'].value){
            <app-message-length-spinner [message]="newCommentForm.controls['message'].value"/>
          }

          <button class="blueButton _36pxButton cursorPointer" (click)="postComment()"
            [disabled]="newCommentForm.invalid || (!newCommentForm.controls['message'].value && !selectedFilesUrl.length)">
            <span>Responder</span>
          </button>
        </div>
      </div>
    </form>

  </div>
