<div fxLayout="column" style="padding: 32px">
  <span class="smallerDialogTitleWithSubtitle">
    Unfollow {{"@" + data.username }}?
  </span>
  <span class="dialogSubtitle">
    Their Tweets will no longer show up in your home timeline. You can still view their profile, unless their Tweets are
    protected.
  </span>
  <div fxLayout="column"fxLayoutGap="10">
    <button class="whiteButton cursorPointer _44pxButton" style="padding: 12px" (click)="confirmUnfollow()">
      Deixar de Seguir
    </button>
    <button class="transparentButton cursorPointer _44pxButton" style="padding: 12px" matDialogClose>
      Cancelar
    </button>
  </div>

</div>
