@if(!userInformationsLoaded){
  <div fxLayout="row" fxLayoutAlign="center center" class="profileContainer">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
}@else {
  <div fxLayout="column" fxLayoutAlign=" stretch" class="profileContainer">
    <div id="bluredHeaderStyle" class="header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30">
      <button mat-mini-fab (click)="location.back()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div fxLayout="column" fxLayoutGap="4">
        <span class="headerUserFirstName" fxLayout="row" fxLayoutAlign="start center">
          {{ anotherUserProfile.firstName }} <img *ngIf="anotherUserProfile.isVerified" style="width: 18px; height: 18px;"
            src="../../../../assets/img/twitter-verified.png">
        </span>
        <span class="headerUserPosts">
          {{ anotherUserProfile.tweetsCount }} posts
        </span>
      </div>
    </div>
    @if(anotherUserProfile.hasBlockedMe){
      <app-user-has-blocked-logged-user [user]="anotherUserProfile"></app-user-has-blocked-logged-user>
    }@else {
      @if(anotherUserProfile.isBlockedByMe){
        <app-blocked-user [user]="anotherUserProfile"></app-blocked-user>
      }@else {
        <app-unblocked-user [anotherUserProfile]="anotherUserProfile"></app-unblocked-user>
      }
    }
  </div>
}




