<div fxLayout="row" style="padding: 12px 16px; border-bottom: 1px solid rgb(56, 68, 77);" class="cursorPointer">
    <div style="width: 40px;">
        <div class="profilePicture" style="width: 40px; height: 40px;"
          [style]="setProfilePhoto(tweet?.userProfilePhotoUrl)" (click)="redirectToProfile(tweet.userUsername)">
        </div>
    </div>

    <div fxFlex="calc(100% - 40px)" fxLayout="column" fxLayoutAlign="start stretch" style="padding-left: 12px;" fxLayoutGap="5">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="start center">
                <span class="userFirstName" (click)="redirectToProfile(tweet.userUsername)">{{tweet.userFirstName}}</span>
                <span class="userUsername" (click)="redirectToProfile(tweet.userUsername)">{{'@' + tweet.userUsername}}</span>
                <mat-icon class="userUsername" style="transform: scale(0.2);">brightness_1</mat-icon>

                <span class="userUsername">{{ tweet.publicationTime | date: 'HH'}}</span>
            </div>

            <div>
                <mat-icon class="userUsername" style="transform: scale(1.2);">more_horiz</mat-icon>
            </div>
        </div>

        <div class="userBiography" style="padding-bottom: 10px">
            {{tweet.tweetMessage}}
        </div>

        @if (tweet.tweetAttachment) {
            @switch (tweet.tweetAttachment.length) {
                @case (1) {
                    <div class="tweetOneAttachment">
                        <img class="teste" [src]="transformByteToImage(tweet.tweetAttachment[0])">
                    </div>
                }

                @case (2) {
                    <div fxLayout="row" fxLayoutGap="2" style="height: 300px;">
                        @for (file of tweet.tweetAttachment; track $index) {
                          <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[$index]) + ')'"
                            [style.border-radius]="$index == 0 ? '20px 0 0 20px' : '0 20px 20px 0'"></div>
                        }
                    </div>
                }

                @case (3) {
                    <div fxLayout="row" fxLayoutGap="2">
                        <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[0]) + ')'"
                        [style.border-radius]="'20px 0 0 20px'"></div>

                        <div fxFlex fxLayout="column" fxLayoutGap="2" style="height: 300px;">
                            <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[1]) + ')'"
                            [style.border-radius]="'0 20px 0 0'"></div>

                            <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[2]) + ')'"
                            [style.border-radius]="'0 0 20px 0'"></div>
                        </div>
                    </div>
                }

                @case (4) {
                    <div fxLayout="column" fxLayoutGap="2" style="height: 300px;">
                        <div fxFlex fxLayout="row" fxLayoutGap="2">
                            <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[0]) + ')'"
                            [style.border-radius]="'20px 0 0 0'"></div>

                            <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[1]) + ')'"
                            [style.border-radius]="'0 20px 0 0'"></div>
                        </div>
                        
                        <div fxFlex fxLayout="row" fxLayoutGap="2">
                            <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[2]) + ')'"
                            [style.border-radius]="'0 0 0 20px'"></div>

                            <div fxFlex class="tweetImage" [style.background-image]="'url(' + transformByteToImage(tweet.tweetAttachment[3]) + ')'"
                            [style.border-radius]="'0 0 20px 0'"></div>
                        </div>

                    </div>
                }
            }
        }

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="22" fxLayoutAlign="start center">
                <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="start center" class="tweetAction tweetActionBlue">
                    <mat-icon>chat_bubble_outline</mat-icon>
                    <span>{{ tweet.tweetCommentsCount }}</span>
                </div>
            </div>

            <div fxFlex="22" fxLayoutAlign="start center">
                <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="start center" class="tweetAction"
                [class.tweetActionGreen]="!tweet.retweetedByMe" [class.tweetActionGreenActive]="tweet.retweetedByMe"
                (click)="retweetToggle(tweet.tweetIdentifier)">
                    <mat-icon>cached</mat-icon>
                    <span>{{ tweet.tweetRetweetsCount }}</span>
                </div>
            </div>

            <div fxFlex="22" fxLayoutAlign="start center">
                <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="start center" class="tweetAction"
                [class.tweetActionRed]="!tweet.likedByMe" [class.tweetActionRedActive]="tweet.likedByMe" (click)="likeToggle(tweet.tweetIdentifier)">
                    @if(tweet.likedByMe){
                        <mat-icon>favorite</mat-icon>
                    }
                    @else {
                        <mat-icon>favorite_border</mat-icon>
                    }
                    <span>{{ tweet.tweetLikesCount }}</span>
                </div>
            </div>

            <div fxFlex="22" fxLayoutAlign="start center">
                <div class="tweetAction tweetActionBlue" fxLayout="row" fxLayoutGap="5" fxLayoutAlign="start center">
                    <mat-icon>assessment</mat-icon> 
                    <span>{{ tweet.tweetViewsCount }}</span>
                </div>
            </div>

            <div fxFlex="12" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
                <div class="tweetAction tweetActionBlue" (click)="favToggle(tweet.tweetIdentifier)">
                    <mat-icon>bookmark_border</mat-icon>
                </div>
                <div class="tweetAction tweetActionBlue">
                    <mat-icon>open_in_browser</mat-icon>
                </div>
            </div>
            
        </div>
    </div>
</div>
