<div fxLayout="row" class="followProfileDescriptionButton" style="padding: 12px 16px">
    <div style="width: 40px;">
      <div class="profilePicture" style="width: 40px; height: 40px;"
        [style]="setProfilePhoto(profile.profilePhotoUrl)">
      </div>
    </div>
    @if(verifyIfItsLoggedUser(profile.username)){
      <div fxFlex="calc(100% - 40px)" fxLayout="column">
        <div fxLayout="row">
          <div fxLayout="column" fxFlex
            style="padding: 0 8px;">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span style="max-width: calc(100% - 18px)" class="userFirstName">{{ profile.firstName }}</span>
              @if(profile.isVerified){
                <div style="width: 18px;">
                  <img style="width: 100%; height: 18px;" src="../../../../assets/img/twitter-verified.png">
                </div>
              }
              
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3">
              <span [style]="profile.isFollowingMe ? 'max-width: calc(100% - 70px)' : 'max-width: 100%'"
                class="userUsername">
                {{ profile.username }}
              </span>
              @if(profile.isFollowingMe){
                <span class="followsYou" fxLayoutAlign="center center">Segue você</span>
              }
            </div>
          </div>
        </div>
    
        <div style="padding: 8px;">
          <span class="userBiography"> {{ profile.biography }} </span>
        </div>
      </div>
    }@else {
      <div fxFlex="calc(100% - 40px)" fxLayout="column">
        <div fxLayout="row">
          <div fxLayout="column" [fxFlex]="profile.isBlockedByMe ? 'calc(100% - 200px)' : profile.isFollowedByMe ? isMouseOverFollowingButton ? 'calc(100% - 150px)' : 'calc(100% - 100px)' : 'calc(100% - 80px)'"
            style="padding: 0 8px;">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span style="max-width: calc(100% - 18px)" class="userFirstName">{{ profile.firstName }}</span>
              @if (profile.isVerified) {
                <div style="width: 18px;">
                  <img style="width: 100%; height: 18px;" src="../../../../assets/img/twitter-verified.png">
                </div>
              }
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3">
              <span [style]="profile.isFollowingMe ? 'max-width: calc(100% - 70px)' : 'max-width: 100%'"
                class="userUsername">
                {{"@" + profile.username }}
              </span>
              @if (profile.isFollowingMe) {
                <span class="followsYou" fxLayoutAlign="center center">Segue você</span>
              }
            </div>
          </div>
          <div fxLayoutAlign="center center" [style]="profile.isBlockedByMe ? '200px' : profile.isFollowedByMe ? isMouseOverFollowingButton ? setFollowingButtonHoverWidth() : 'width: 100px;' : 'width: 80px;'">
            
            @if(profile.isBlockedByMe){
              <app-blocked-button-32px (click)="$event.stopPropagation(); openUnblockUserModal(profile)"
              (mouseenter)="isMouseOverBlockedButton = true"
              (mouseleave)="isMouseOverBlockedButton = false" style="border-radius: 50px;">
              </app-blocked-button-32px>
            }
            @else{
              @if(profile.isFollowedByMe){
                <app-following-button-32px (click)="$event.stopPropagation(); openUnfollowConfirmationModal(profile)"
                (mouseenter)="isMouseOverFollowingButton = true"
                (mouseleave)="isMouseOverFollowingButton = false" style="border-radius: 50px;">
                </app-following-button-32px>
              }
              @else {
                <button class="whiteButton cursorPointer _32pxButton"
                  (click)="$event.stopPropagation(); followUser(profile.username);">
                  <span>Seguir</span>
                </button>
              }
            }
          </div>
        </div>
    
        <div style="padding: 8px;">
          <span class="userBiography"> {{ profile.biography }} </span>
        </div>
      </div>
    }
  </div>
  