<mat-sidenav-container class="sidenav-container" [@.disabled]="!dashboard.opened">
  <mat-sidenav #dashboard mode="over" class="sidenav">
    <!--SIDE MENU MOBILE-->
    <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%; height: 100%">
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10" style="padding:16px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="sideNavMobileMenuHeaderProfileImage" routerLink="/profile" (click)="sidenav.toggle()">
            <img src="../../../assets/img/profile-image.png" style="width: 100%; height: 100%; border-radius: 100%;">
          </div>
          <div class="sideNavMobileMenuHeaderButton blockCursor" fxLayoutAlign="center center">
            <mat-icon>add</mat-icon>
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="4" routerLink="/profile" (click)="sidenav.toggle()">
          <div class="sideNavMobileMenuProfileName">
            souzinha
          </div>
          <div class="sideNavMobileMenuProfileId">
            @souzxvini
          </div>
        </div>

        <div class="sideNavMobileMenuProfileInfos">
          <div>
            <strong>173</strong> Following
          </div>

          <div>
            <strong>289</strong> Followers
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center stretch">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25" class="sideNavMobileMenuNavOption"
            routerLink="/profile" (click)="sidenav.toggle()">
            <mat-icon> person_outline </mat-icon> <span> Profile </span>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25" class="sideNavMobileMenuNavOption">
            <mat-icon> bookmark_border </mat-icon> <span> Bookmarks </span>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div fxLayout="column" fxLayoutAlign="start stretch">
          <div class="expansionPanelHeader" fxLayout="row" fxLayoutAlign="space-between center"
            (click)="settingsAndPrivacyIsClicked = !settingsAndPrivacyIsClicked">
            <span>
              Settings and Support
            </span>
            <mat-icon [@rotatedState]="!settingsAndPrivacyIsClicked"
              [ngClass]="{'expansionPanelExpandedIcon': settingsAndPrivacyIsClicked}">
              expand_more
            </mat-icon>
          </div>
          <div class="expansionPanelBody" *ngIf="settingsAndPrivacyIsClicked" fxLayout="column"
            fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
              <mat-icon>settings</mat-icon>
              <span>Settings and privacy</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
              <mat-icon>brush</mat-icon>
              <span>Display</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log out</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="fullContainer">
      <div class="menuContainer">
        <div class="menuDiv">
          <div class="menuHeaderLogo" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="center center">
            <img src="../../../../assets/img/twitter-x-logo.png" style="width: 25px; height: 25px;">
          </div>
          <div class="sideNavMenu" fxLayout="column" fxLayoutAlign="space-between stretch">
            <nav class="sideNavMenuOptions" fxLayout="column" fxLayoutAlign="center stretch"
              fxLayoutAlign.lt-lg="center center" fxLayoutGap="3">
              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20"
                  routerLink="/home" routerLinkActive="sideNavMenuOptionActive">
                  <mat-icon>home</mat-icon>
                  <p>Página Inicial</p>
                </div>
              </div>

              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20"
                  routerLink="/explore" routerLinkActive="sideNavMenuOptionActive">
                  <mat-icon>search</mat-icon>
                  <p>Explorar</p>
                </div>
              </div>

              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20"
                  routerLink="/notifications" routerLinkActive="sideNavMenuOptionActive">
                  <mat-icon>notifications_none</mat-icon>
                  <p>Notificações</p>
                </div>
              </div>

              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20"
                  routerLink="/messages" routerLinkActive="sideNavMenuOptionActive">
                  <mat-icon>mail_outline</mat-icon>
                  <p>Mensagens</p>
                </div>
              </div>

              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20"
                  routerLink="/messages" routerLinkActive="sideNavMenuOptionActive">
                  <mat-icon>bookmark_border</mat-icon>
                  <p>Itens Salvos</p>
                </div>
              </div>

              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20"
                  routerLink="/profile" routerLinkActive="sideNavMenuOptionActive">
                  <mat-icon>person_outline</mat-icon>
                  <p>Perfil</p>
                </div>
              </div>

              <div style="padding: 4px;" fxLayout="column" fxLayoutAlign="start start"
                fxLayoutAlign.lt-lg="center center">
                <div class="sideNavMenuOption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20">
                  <mat-icon>more_horiz</mat-icon>
                  <p>Mais</p>
                </div>
              </div>

              <!--botão de fazer novo tweet para versão web-->
              <div style="padding: 16px;" fxLayout="column" fxLayoutAlign="start stretch" fxHide.lt-lg>
                <button class="blueButton _52pxButton cursorPointer">
                  <span>Postar</span>
                </button>
              </div>

              <!--botão de fazer novo tweet para versão mobile-->
              <button class="postTweetMobileButton" mat-fab fxHide.gt-md>
                <mat-icon>add</mat-icon>
              </button>
            </nav>

            <div fxLayout="row" fxLayoutAlign="start center" class="sideNavMenuProfileButton" (click)="logout()" fxHide.lt-lg>
              <div fxFlex="20">
                <img src="../../../assets/img/profile-image.png" class="sideNavMenuProfileButtonImage">
              </div>
              <div fxFlex="70" fxLayout="column" style="padding: 0 8px;">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span style="max-width: calc(100% - 18px)" class="userFirstName">{{authModel.firstName}}</span>
                  <div style="width: 18px;">
                    <img style="width: 18px; height: 18px;" src="../../../../assets/img/twitter-verified.png">
                  </div>
                </div>
                <div class="userUsername">
                  @{{authModel.username}}
                </div>
              </div>
              <div fxFlex="10">
                <mat-icon>more_horiz</mat-icon>
              </div>
            </div>

            <div class="sideNavMenuProfileIcon" fxHide.gt-md>
              <div class="sideNavMenuProfileButtonImage" [style]="setProfilePhoto(null)"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mainContainer">
        <router-outlet></router-outlet>
      </div>
      <div class="exploreContainer">
        <router-outlet name="secondary"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
