<div class="fullContainer">
  <div class="menuContainer">
    <div class="menuDiv">
      <div class="menuHeaderLogo">
        <div class="menuHeaderLogoDiv">
          <div class="headerLogo"></div>
        </div>
      </div>
      <div class="sideNavMenu" style="height: 94vh;">
        <nav class="sideNavMenuOption">
          <div routerLink="/home">
            <div>
              <span routerLinkActive="sideNavMenuOptionActive">
                <mat-icon>home</mat-icon>
                <p>Home</p>
              </span>
            </div>
          </div>

          <div routerLink="/explore">
            <div>
              <span routerLinkActive="sideNavMenuOptionActive">
                <mat-icon>search</mat-icon>
                <p>Explore</p>
              </span>
            </div>
          </div>

          <div routerLink="/notifications">
            <div>
              <span routerLinkActive="sideNavMenuOptionActive">
                <mat-icon>notifications_none</mat-icon>
                <p>Notifications</p>
              </span>
            </div>
          </div>

          <div routerLink="/messages">
            <div>
              <span routerLinkActive="sideNavMenuOptionActive">
                <mat-icon>mail_outline</mat-icon>
                <p>Messages</p>
              </span>
            </div>
          </div>

          <div routerLink="/bookmarks">
            <div>
              <span routerLinkActive="sideNavMenuOptionActive">
                <mat-icon>bookmark_border</mat-icon>
                <p>Bookmarks</p>
              </span>
            </div>
          </div>

          <div routerLink="/notifications">
            <div>
              <span routerLinkActive="sideNavMenuOptionActive">
                <mat-icon>person_outline</mat-icon>
                <p>Profile</p>
              </span>
            </div>
          </div>

          <button mat-flat-button class="sideNavMenuTweetButton">
            <span>Tweet</span>
          </button>

          <div class="sideNavMenuTweetButtonIcon">
            <mat-icon>add</mat-icon>
          </div>

        </nav>
        <div class="sideNavMenuProfileButton">
          <div style="width: 18%;">
            <img src="../../../assets/img/profile-image.png" class="sideNavMenuProfileButtonImage">
          </div>
          <div style="width: 62%;">
            <div class="sideNavMenuProfileButtonName">souzinha</div>
            <div class="sideNavMenuProfileButtonId">@souzxvini</div>
          </div>
          <div style="width: 20%; display: flex; justify-content: end; align-items: center;">
            <mat-icon>more_horiz</mat-icon>
          </div>
        </div>

        <div class="sideNavMenuProfileIcon">
          <div class="sideNavMenuProfileButtonImage"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="mainContainer">
    <router-outlet></router-outlet>
  </div>
  <div class="exploreContainer">
    <router-outlet name="secondary"></router-outlet>
  </div>
</div>
