* {
  padding: 0px;
  margin: 0px;
}

//Versão mobile FULL
.mat-drawer {
  background-color: transparent;
}

.mat-drawer-container {
  background-color: transparent !important;
  color: white;
  border: none !important;
}

.sidenav-container {
  width: 100%;
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 275px;
  background: black !important;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 10px, rgba(136, 153, 166, 0.25) 0px 1px 3px 1px;
  color: #f7f9f9 !important;
  overflow: auto !important;
}

.sideNavMobileMenuHeaderProfileImage {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.sideNavMobileMenuHeaderButton {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgb(111, 124, 137);
}

.sideNavMobileMenuHeaderButton mat-icon {
  transform: scale(0.9);
}

.sideNavMobileMenuProfileName {
  font-size: 17px;
  font-weight: 700;
}

.sideNavMobileMenuProfileId {
  font-size: 15px;
  color: rgb(113, 118, 123);
  margin-top: 1px;
}



//Menus no sidenav mobile
.sideNavMobileMenuNavOption {
  padding: 16px;
}

.sideNavMobileMenuNavOption:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sideNavMobileMenuNavOption mat-icon {
  transform: scale(1.2);
}

.sideNavMobileMenuNavOption span {
  font-size: 20px;
  font-weight: 900;
}

.mat-divider {
  border-top-width: 1px;
  border-top-color: rgb(56, 68, 77);
  width: 86%;
  margin: auto;
}

.expansionPanelHeader {
  font-size: 15px;
  font-weight: 900;
  transition: 0.2s ease-in-out background-color;
  padding: 16px;
}

.expansionPanelHeader:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.expansionPanelExpandedIcon {
  color: rgb(29, 155, 240) !important;
}

.expansionPanelBody div {
  font-size: 15px;
  font-weight: 500;
  padding: 12px;
}

.expansionPanelBody div mat-icon {
  transform: scale(0.8);
}

.fullContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.menuContainer {
  width: 31%;
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0;
  border-right: 1px solid rgb(56, 68, 77);
}

.mainContainer {
  width: 32%;
  min-width: 600px;
}

.exploreContainer {
  width: 37%;
  position: sticky;
  top: 0px;
  border-left: 1px solid rgb(56, 68, 77);
}

.menuDiv {
  width: 265px;
}

.menuHeaderLogo {
  padding: 0 16px;
  width: 100%;
  height: 6vh;
}

.sideNavMenu {
  height: 94vh;
  padding: 0;
}

.sideNavMenuOptions div p {
  font-size: 20px;
}

.sideNavMenuOptions div mat-icon {
  transform: scale(1.2);
}

.sideNavMenuOption {
  border-radius: 50px;
  padding: 12px;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.sideNavMenuOption:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sideNavMenuOptionActive {
  font-weight: 700 !important;
}

.postTweetMobileButton.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: rgb(29, 155, 240) !important;
}

.postTweetMobileButton mat-icon {
  transform: scale(1.3);
}

//botão profile normal
.sideNavMenuProfileButton {
  border-radius: 50px;
  padding: 12px;
  margin: 16px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.sideNavMenuProfileButton:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

//botão profile mobile
.sideNavMenuProfileIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: background-color 0.2s ease-in-out;
  padding: 12px;
}

.sideNavMenuProfileIcon:hover {
  background-color: rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

.userFirstName {
  max-width: 90% !important;
}

@media screen and (max-width:1279px) {

  /*Ajustando tamanho do menu*/
  .menuContainer {
    width: 15%;
  }

  .menuDiv {
    width: 88px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sideNavMenuOption p {
    display: none !important;
  }

  /*Ajustando tamanho do main*/
  .mainContainer {
    width: 45%;
  }

  /*Ajustando tamanho do explore*/
  .exploreContainer {
    width: 40%;
  }
}

@media screen and (max-width:1021px) {

  /*Ajustando tamanho do menu*/
  .menuContainer {
    width: 24%;
  }

  /*Ajustando tamanho do main*/
  .mainContainer {
    width: 49%;
  }

  /*Ajustando tamanho do explore*/
  .exploreContainer {
    width: 26%;
  }

}

@media screen and (max-width:687px) {

  .fullContainer {
    display: flex;
  }

  /*Ajustando tamanho do menu*/
  .menuContainer {
    width: 68px;
    min-width: 68px;
  }

  /*Ajustando tamanho do main*/
  .mainContainer {
    min-width: calc(100% - 68px);
    max-width: calc(100% - 68px);
  }

  /*Ajustando tamanho do explore*/
  .exploreContainer {
    display: none;
  }
}

@media screen and (max-width:498px) {

  /*Ajustando tamanho do menu*/
  .menuContainer {
    display: none;
  }

  /*Ajustando tamanho do main*/
  .mainContainer {
    width: 100%;
    min-width: 100%;
  }

}
