*{
  font-family: 'TwitterChirp';
}

.navOption{
  padding: 12px 16px !important;
  font-weight: 600 !important;
  font-size: 15px;
}

.navOption:hover {
  background-color: rgba(255, 255, 255, 0.089);
}
