<div style="height: 100%; width: 100%;">
  <div *ngIf="!loaded" style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>


  <div *ngIf="step < 5 && loaded" style="padding: 16px; height: 10%; width: 100%;" fxLayout="row"
    fxLayoutAlign=" center">
    <mat-icon *ngIf="step == 1" style="margin-right: 35px" class="cursorPointer" (click)="closeDialog()">close
    </mat-icon>
    <mat-icon *ngIf="step != 1 && step < 4 && loaded" style="margin-right: 35px" class="cursorPointer" (click)="back()">
      keyboard_backspace
    </mat-icon>
    <span class="dialogSteps">Etapa {{step}} de 4</span>
  </div>

  <div *ngIf="step > 4 && loaded" style="height: 10%;" fxLayout="row" fxLayoutAlign="center center">
    <img src="../../../../assets/img/twitter-x-logo.png" style="width: 30px; height: 30px;">
  </div>


  <form *ngIf="(step == 1 || step == 2 || step == 3 || step == 4) && loaded" [formGroup]="registerForm"
    style="width: 100%; height: 90%;">
    <!--STEP 1-->
    <div *ngIf="step == 1 && loaded" class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch">

      <div fxLayout="column">
        <span class="dialogTitle">Criar sua conta</span>

        <mat-form-field class="textFormField" style="margin-bottom: -1.25em;">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="firstName" #nameInput maxlength="50">
          <mat-hint matSuffix>
            {{registerForm.controls['firstName'].value ? registerForm.controls['firstName'].value.length : '0'}}/50
          </mat-hint>
        </mat-form-field>
        <small class="formFieldError"
          *ngIf="registerForm.controls['firstName'].hasError('required') && registerForm.controls['firstName'].touched">
          Qual é o seu nome?
        </small>

        <mat-form-field style="margin-bottom: -1.25em; margin-top: 1.25em;">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" #emailInput>
        </mat-form-field>
        <small class="formFieldError"
          *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched">
          Insira um e-mail válido.
        </small>
        <small class="formFieldError" *ngIf="registerForm.controls['email'].hasError('existentEmail')">
          Este e-mail já está sendo utilizado.
        </small>

        <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 1.25em;">
          <span class="blockCursor blueLinks">Usar o telefone</span>
        </div>

        <div>
          <div class="userFirstName" style="margin: 10px 0;">Data de nascimento</div>
          <span style="color: rgb(113, 118, 123);">
            Isso não será exibido publicamente. Confirme sua própria idade, mesmo se
            esta conta for de empresa, de um animal de estimação ou outros.
          </span>

          <div fxLayout="row" fxLayoutGap="10" style="margin-top: 20px;">
            <mat-form-field fxFlex="50" fxFlex.lt-sm="40" floatLabel="always" class="selectFormField">
              <mat-label> Mês </mat-label>
              <mat-select formControlName="birthDateMonth" #monthInput>
                <mat-option [value]="01" class="opcaoTodos"> Janeiro </mat-option>
                <mat-option [value]="02" class="opcaoTodos"> Fevereiro </mat-option>
                <mat-option [value]="03" class="opcaoTodos"> Março </mat-option>
                <mat-option [value]="04" class="opcaoTodos"> Abril </mat-option>
                <mat-option [value]="05" class="opcaoTodos"> Maio </mat-option>
                <mat-option [value]="06" class="opcaoTodos"> Junho </mat-option>
                <mat-option [value]="07" class="opcaoTodos"> Julho </mat-option>
                <mat-option [value]="08" class="opcaoTodos"> Agosto </mat-option>
                <mat-option [value]="09" class="opcaoTodos"> Setembro </mat-option>
                <mat-option [value]="10" class="opcaoTodos"> Outubro </mat-option>
                <mat-option [value]="11" class="opcaoTodos"> Novembro </mat-option>
                <mat-option [value]="12" class="opcaoTodos"> Dezembro </mat-option>
              </mat-select>
              <mat-icon matSuffix class="matSelectSuffixArrow">keyboard_arrow_down</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="21" fxFlex.lt-sm="30" floatLabel="always" class="selectFormField">
              <mat-label> Dia </mat-label>
              <mat-select formControlName="birthDateDay">
                <mat-option *ngFor="let day of selectDays" [value]="day"> {{day}} </mat-option>
              </mat-select>
              <mat-icon matSuffix class="matSelectSuffixArrow">keyboard_arrow_down</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="29" fxFlex.lt-sm="30" floatLabel="always" class="selectFormField">
              <mat-label> Ano </mat-label>
              <mat-select formControlName="birthDateYear">
                <mat-option *ngFor="let year of selectYears" [value]="year"> {{year}} </mat-option>
              </mat-select>
              <mat-icon matSuffix class="matSelectSuffixArrow">keyboard_arrow_down</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>

      <button class="whiteButton _52pxButton cursorPointer" (click)="advance()" [disabled]="registerForm.invalid">
        <span>Avançar</span>
      </button>

    </div>

    <!--STEP 2-->
    <div *ngIf="step == 2 && loaded" class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <span class="dialogTitle">Criar sua conta</span>

        <mat-form-field class="successFormField" (click)="redirectFocus('nameInput')">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="firstName">
          <mat-hint matSuffix>
            <mat-icon>done</mat-icon>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="successFormField" (click)="redirectFocus('emailInput')">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
          <mat-hint matSuffix>
            <mat-icon>done</mat-icon>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="successFormField" (click)="redirectFocus('monthInput')">
          <mat-label>Data de nascimento</mat-label>
          <input matInput [(ngModel)]="birthDate" [ngModelOptions]="{standalone: true}">
          <mat-hint matSuffix>
            <mat-icon>done</mat-icon>
          </mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutGap="20">
        <span style="color: rgb(113, 118, 123); font-size: 13px;">
          Ao se inscrever, você concorda com nossos <a class="blueLinks blockCursor">Termos</a>, com a
          <a class="blueLinks blockCursor">Política de Privacidade</a> e com o <a class="blueLinks blockCursor">Uso de
            Cookies</a>.
          O Twitter pode usar suas informações de contato, inclusive seu endereço de e-mail e seu número de telefone,
          para
          os fins descritos na nossa Política de Privacidade. <a class="blueLinks blockCursor">Saiba mais</a>
        </span>

        <button class="blueButton _52pxButton cursorPointer" (click)="sendConfirmationCode()"
          [disabled]="registerForm.invalid">
          <span>Inscrever-se</span>
        </button>
      </div>
    </div>

    <!--STEP 3-->
    <div *ngIf="step == 3 && loaded" class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <span class="dialogTitleWithSubtitle">Enviamos um código para você</span>

        <span class="dialogSubtitle">Insira-o abaixo para verificar
          {{registerForm.controls['email'].value}}</span>

        <mat-form-field class="noInvisibleDivFormField">
          <mat-label>Código de verificação</mat-label>
          <input matInput formControlName="confirmationCode">
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <button class="whiteButton _52pxButton cursorPointer" (click)="confirmCode()" [disabled]="registerForm.invalid">
          <span>Avançar</span>
        </button>
      </div>
    </div>

    <!--STEP 4-->
    <div *ngIf="step == 4 && loaded" class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <span class="dialogTitleWithSubtitle">Você precisará de uma senha</span>

        <span class="dialogSubtitle">É preciso ter 8 caracteres ou mais.</span>

        <mat-form-field class="noInvisibleDivFormField passwordFormField">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide"> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
        </mat-form-field>

        <small class="formFieldError"
          *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched">
          Sua senha precisa conter 8 caracteres ou mais.
        </small>
      </div>

      <div fxLayout="column">
        <button class="whiteButton _52pxButton cursorPointer" (click)="createprofile()"
          [disabled]="registerForm.invalid">
          <span>Avançar</span>
        </button>
      </div>
    </div>
  </form>

  <!--STEP 5 (PROFILE PICTURE)-->
  <div *ngIf="step == 5 && loaded" style="width: 100%; height: 90%;">
    <div class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <span class="dialogTitleWithSubtitle">Escolher uma foto de perfil</span>

        <span class="dialogSubtitle">Tem uma selfie favorita? Carregue agora.</span>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="selectProfilePicture" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20" style="background-image: url('{{url ? url.imgUrl.dataURL : noProfilePicture()}}'); 
        background-position-x: '{{url ? url.imgUrl.position.x ? url.imgUrl.position.x : 0 : 0 }}'; 
        background-position-y: '{{url ? url.imgUrl.position.y ? url.imgUrl.position.y : 0 : 0}}'">
          <input #selectFileButton type="file" (change)="onSelectFile($event)" accept="image/*" hidden>
          <button mat-mini-fab (click)="openFileInput()">
            <mat-icon>add_a_photo</mat-icon>
          </button>
          <button mat-mini-fab *ngIf="url" (click)="url = null; selectedFile = null">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="column">

        <button class="whiteButton _52pxButton cursorPointer" *ngIf="url" (click)="saveProfilePicture()">
          <span>Avançar</span>
        </button>

        <button class="transparentButton _52pxButton cursorPointer" *ngIf="!url" (click)="step = step + 1">
          <span>Ignorar por enquanto</span>
        </button>

      </div>
    </div>
  </div>


  <!--STEP 6 (CHANGE/CHOOSE @USERNAME )-->
  <form *ngIf="step == 6 && loaded" [formGroup]="usernameForm" style="width: 100%; height: 90%;">
    <div class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column">
        <span class="dialogTitleWithSubtitle">Como devemos chamar você?</span>

        <span class="dialogSubtitle">Seu nome de usuário é exclusivo. Você sempre pode alterá-lo depois.</span>

        <mat-form-field class="successFormField">
          <mat-label>Nome de usuário</mat-label>
          <input matInput formControlName="username">
          <mat-hint *ngIf="usernameForm.controls['username'].invalid" matSuffix>
            <mat-icon>error</mat-icon>
          </mat-hint>
          <mat-hint *ngIf="!usernameForm.controls['username'].invalid" matSuffix>
            <mat-icon>done</mat-icon>
          </mat-hint>
        </mat-form-field>

        <small class="formFieldError"
          *ngIf="usernameForm.controls['username'].hasError('minlength') && usernameForm.controls['username'].touched">
          Seu nome de usuário deve conter mais de 4 caracteres.
        </small>

        <small class="formFieldError"
          *ngIf="usernameForm.controls['username'].hasError('maxlength') && usernameForm.controls['username'].touched">
          Seu nome de usuário deve ter menos de 15 caracteres.
        </small>
      </div>

      <button class="whiteButton _52pxButton cursorPointer" [disabled]="usernameForm.invalid" (click)="patchUsername()">
        <span>Avançar</span>
      </button>

    </div>
  </form>

  <!--STEP 7 (FOLLOW AT LEAST 1 USER) -->
  <form [formGroup]="usernameForm" *ngIf="step == 7 && loaded" style="width: 100%; height: 90%;">
    <div class="mainContent" fxLayout="column" fxLayoutAlign="space-between stretch" style="padding: 0;">
      <div fxLayout="column" style="height: 85%;" class="suggestedProfiles">
        <span class="dialogTitleWithSubtitle">Não perca</span>

        <span class="dialogSubtitle">
          Ao seguir uma pessoa, você verá os Tweets dela na sua timeline.
          Você também receberá recomendações mais relevantes.
        </span>

        <div fxLayout="column" fxLayoutGap="20" style="padding: 20px">
          <span style="font-size: 21px; font-weight: 600; font-family: 'TwitterChirp' !important;">
            Seguir 1 ou mais contas
          </span>

          <app-follow-profile-button-description [profile]="profile" [suggestedProfiles]="suggestedProfiles" *ngFor="let profile of suggestedProfiles">
          </app-follow-profile-button-description>

        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center stretch"
        style="height: 15%; padding: 0px 80px 20px 80px; border-top: 1px solid rgb(89, 91, 94);">
        <button class="whiteButton _52pxButton cursorPointer"
          [disabled]="usernameForm.invalid || !isFollowingAtLeast1Account()" (click)="finalizeRegistration()">
          <span>Próxima</span>
        </button>
      </div>
    </div>
  </form>

</div>
