<div style="height: 100%; width: 100%;">
  <div style="padding: 0 16px; height: 53px; width: 100%;" id="bluredHeaderStyle" fxLayout="row"
    fxLayoutAlign="space-between center">
    <div fxLayoutAlign=" center" fxLayoutGap="30" fxLayoutGap="30">
      <button mat-mini-fab mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      <span class="dialogSteps">Editar perfil</span>
    </div>
    <button class="whiteButton cursorPointer _32pxButton" (click)="cropper.crop()">
      Aplicar
    </button>
  </div>

  <div style="height: 540px;" fxLayout="column" fxLayoutAlign="center stretch">

    <input #_fileInput type="file" (change)="cropper.selectInputEvent($event)" accept="image/png, image/jpeg, image/jpg" hidden>

    <ly-img-cropper [withClass]="classes.cropper" 
    [config]="myConfig" 
    [(scale)]="scale" 
    (minScale)="minScale = $event"
    (ready)="ready = true" 
    (cleaned)="ready = false" 
    (cropped)="onCropped($event)" 
    (loaded)="onLoaded($event)"
    (error)="onError($event)">
    </ly-img-cropper>

  </div>

  <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center center">
    <mat-icon class="blockCursor" style="color: #71767b;">zoom_out</mat-icon>
    <mat-slider>
      <input matSliderThumb [disabled]="true">
    </mat-slider>
    <mat-icon class="blockCursor" style="color: #71767b;">zoom_in</mat-icon>
  </div>

</div>
