<button mat-mini-fab class="iconButtonBorder" (click)="morePanelState = !morePanelState" cdkOverlayOrigin
  #trigger="cdkOverlayOrigin">
  <mat-icon>more_horiz</mat-icon>
</button>

<ng-template #overlayNotifications cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="morePanelState" cdkConnectedOverlayBackdropClass="morePanelStyleBackdrop"
  [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="morePanelState = !morePanelState"
  [cdkConnectedOverlayPositions]="[{originX: 'start',originY: 'bottom',overlayX: 'end',overlayY: 'top'}]">
  <div class="morePanel mat-elevation-z8" fxLayout="column">
    <div *ngIf="!user.isBlockedByMe" class="morePanelItem" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center" (click)="openBlockUserModal(user)">
      <mat-icon>lock_open</mat-icon>
      <span style="word-break: break-all;">Bloquear @{{user.username}}</span>
    </div>

    <div *ngIf="user.isBlockedByMe" class="morePanelItem" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center" (click)="openUnblockUserModal(user)">
      <mat-icon>lock_open</mat-icon>
      <span style="word-break: break-all;">Desbloquear @{{user.username}}</span>
    </div>

    <div style="padding: 12px 16px" *ngIf="isHandset$ | async">
      <div class="transparentButton _44pxButton cursorPointer" (click)="morePanelState = !morePanelState">
        <strong>Cancelar</strong>
      </div>
    </div>
  </div>
</ng-template>
