<div *ngIf="!userInformationsLoaded" fxLayout="row" fxLayoutAlign="center center" class="profileContainer">
  <mat-spinner [diameter]="30"></mat-spinner>
</div>

<div *ngIf="userInformationsLoaded" fxLayout="column" fxLayoutAlign="space-between stretch" class="profileContainer">
  <div style="height: 100%; width: 100%;">
    <div id="bluredHeaderStyle" class="headerTabs" fxLayout="column" fxLayoutAlign=" stretch" class="bluredHeaderStyle">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30" style="padding: 8px 12px;">
        <button mat-mini-fab (click)="back()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <div fxLayout="column" fxLayoutGap="4">
          <span class="headerUserFirstName" fxLayout="row" fxLayoutAlign="start center">
            {{ user?.firstName }} <img *ngIf="user?.isVerified" style="width: 18px; height: 18px;"
              src="../../../../assets/img/twitter-verified.png">
          </span>
          <span class="headerUserPosts">
            {{"@" + user?.username }}
          </span>
        </div>
      </div>

      <mat-tab-group fitInkBarToContent #tabGroup (selectedTabChange)="tabChange(tabGroup.selectedIndex)">
        <mat-tab label="Seguidores verificados"></mat-tab>
        <mat-tab label="Seguidores que você conhece" *ngIf="!verifyIfItsLoggedUser(router.url)"></mat-tab>
        <mat-tab label="Seguidores"></mat-tab>
        <mat-tab label="Seguindo"></mat-tab>
      </mat-tab-group>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>

