.tweetOneAttachment {
  width: 100%;
}

.oneAttachmentImage{
  border: solid 1px rgb(56, 68, 77);
  border-radius: 20px;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: start;
  margin-top: 5px;
}
