.tweetOneAttachment {
  width: 100%;
}

.oneAttachmentImage{
  border: solid 1px rgb(56, 68, 77);
  border-radius: 20px;
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: start;
}
