<div style="height: 100%; width: 100%; overflow-y: auto;" [style]="!loaded ? 'opacity: 0.8; pointer-events: none' : ''" >
  <div style="padding: 0 16px; height: 53px; width: 100%;" id="bluredHeaderStyle" fxLayout="row"
    fxLayoutAlign="space-between center">
    <button mat-mini-fab [disabled]="!loaded" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
    <span class="boldBlueText blockCursor">Rascunhos</span>
  </div>

  <form [formGroup]="newTweetForm">
    <div fxLayout="column" fxLayoutGap="15" style="padding: 16px;">
      <div fxLayout="row" style="min-height: 100px;">
        <div style="width: 50px;">
          <div class="profilePicture" style="width: 40px; height: 40px;"
            [style]="setProfilePhoto(loggedUser.profilePhotoUrl)">
          </div>
        </div>
  
        <div fxFlex="calc(100% - 50px)" fxLayout="column" fxLayoutGap="10">

          <textarea class="newTweetMessage" formControlName="message" (input)="adjustTextarea($event)" placeholder="O que está acontecendo?"></textarea>

          <app-new-tweet-images [selectedFilesUrl]="selectedFilesUrl"/>
          
        </div>
      </div>
    </div>
  </form>

  <div fxLayout="column" fxLayoutGap="15" style="background-color: black; padding: 16px; position: sticky; bottom: 0;">
    <div fxLayout="row" >
      <div fxLayoutAlign="start center" fxLayoutGap="5" class="boldBlueText" (click)="tweetPermissionPanelState = !tweetPermissionPanelState" cdkOverlayOrigin
      #trigger="cdkOverlayOrigin">

        @switch (newTweetForm.controls['canBeReplied'].value) {
          @case ('1') {
              <mat-icon style="transform: scale(0.8);">public</mat-icon> <span>Qualquer pessoa pode responder</span>
          }

          @case ('0') {
            <mat-icon style="transform: scale(0.8);">how_to_reg</mat-icon> <span>Conta que você segue podem responder</span>
          }

          @case ('-1') {
            <mat-icon style="transform: scale(0.8);">check_circle_outline</mat-icon> <span>Somente as contas verificadas podem responder</span>
          }
        }

      </div>
    </div>

    <ng-template #overlayNotifications cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="tweetPermissionPanelState" cdkConnectedOverlayBackdropClass="morePanelStyleBackdrop"
      [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="tweetPermissionPanelState = !tweetPermissionPanelState"
      [cdkConnectedOverlayPositions]="[{originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top'}]">
      <div class="morePanel mat-elevation-z8" fxLayout="column">

        <div fxLayout="column" fxLayoutGap="2" style="padding: 12px 16px;">
          <span style="font-weight: 900;">Quem pode responder?</span>

          <span style="color: rgb(87, 91, 95);">Escolha quem pode responder a este post: as pessoas mencionadas poderão responder.</span>
        </div>

        <div class="morePanelItem" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center" (click)="changeTweetPrivacy('1')">
          <div fxLayoutAlign="start center" fxLayoutGap="10">
            <button mat-mini-fab class="blueWhiteMiniFabIcon">
              <mat-icon>public</mat-icon>
            </button>
            <span>Qualquer pessoa</span>
          </div>

          @if(newTweetForm.controls['canBeReplied'].value == '1'){
            <div>
              <mat-icon class="blueIcon">done</mat-icon>
            </div>
          }
        </div>

        <div class="morePanelItem" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center" (click)="changeTweetPrivacy('0')">
          <div fxLayoutAlign="start center" fxLayoutGap="10">
            <button mat-mini-fab class="blueWhiteMiniFabIcon">
              <mat-icon>how_to_reg</mat-icon>
            </button>
            <span>Contas que você segue</span>
          </div>
          
          @if(newTweetForm.controls['canBeReplied'].value == '0'){
            <div>
              <mat-icon class="blueIcon">done</mat-icon>
            </div>
          }
        </div>

        <div class="morePanelItem" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center" (click)="changeTweetPrivacy('-1')">
          <div fxLayoutAlign="start center" fxLayoutGap="10">
            <button mat-mini-fab class="blueWhiteMiniFabIcon">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <span>Contas verificadas</span>
          </div>

          @if(newTweetForm.controls['canBeReplied'].value == '-1'){
            <div>
              <mat-icon class="blueIcon">done</mat-icon>
            </div>
          }
        </div>

        @if(isHandset$ | async){
          <div style="padding: 12px 16px">
            <div class="transparentButton _44pxButton cursorPointer" (click)="tweetPermissionPanelState = !tweetPermissionPanelState">
              <strong>Cancelar</strong>
            </div>
          </div>
        } 
        
      </div>
    </ng-template>
  
    <mat-divider></mat-divider>
  
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <app-new-tweet-icons-actions [selectedFilesUrl]="selectedFilesUrl" [selectedFiles]="selectedFiles"/>
  
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
        @if(newTweetForm.controls['message'].value){
          <svg [attr.width]="progressSpinnerWH" [attr.height]="progressSpinnerWH" height="30px" viewBox="0 0 42 42" class="donut" style="transition-duration: 0.15s;">
            <circle class="donut-hole" cx="50%" cy="50%" r="15.91549430918954" fill="transparent"></circle>
            <circle class="donut-ring" cx="50%" cy="50%" r="15.91549430918954" fill="transparent" [attr.stroke]="emptyColor" stroke-width="3"></circle>
          
            <circle class="donut-segment" cx="50%" cy="50%" r="15.91549430918954" fill="transparent" [attr.stroke]="completedColor"  stroke-width="3" [attr.stroke-dasharray]="updateStrokeDasharray()"
            stroke-dashoffset="25"></circle>

            @if(showRemainingCharacters){
              <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" [attr.fill]="textColor">{{maxMessageLength - newTweetForm.controls['message'].value.length}}</text>
            }
          </svg>

          <div class="vertical-line"></div>

          <button mat-mini-fab class="addThread blockCursor">
            <mat-icon>add</mat-icon>
          </button>
        }
  
        <button class="blueButton _36pxButton cursorPointer" (click)="postNewTweet()" [disabled]="newTweetForm.invalid || (!newTweetForm.controls['message'].value && !selectedFilesUrl.length)">
          <span>Postar</span>
        </button>
      </div>
    </div>
  </div>
</div>
