<div fxLayout="column">
  <div class="profileBackground" [style]="setBackgroundPhoto(user.backgroundPhotoUrl)"
    (click)="user.backgroundPhotoUrl ? visualizeBackgroundPicture(user.backgroundPhotoUrl) : null">
  </div>
  <div>

  </div>
  <div fxLayout="column" fxLayoutGap="15" style="padding: 0 16px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="profileUserPicture cursorPointer" (click)="visualizeProfilePicture(user.profilePhotoUrl)">
        <div class="picture" [style]="setProfilePhoto(user.profilePhotoUrl)">
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <app-user-has-blocked-logged-user-actions [user]="user"></app-user-has-blocked-logged-user-actions>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="4">
      <span class="headerUserFirstName wordBreak" fxLayout="row" fxLayoutAlign="start center"
        style="word-break: break-all;">
        {{ user.firstName }} <img *ngIf="user.isVerified" style="width: 18px; height: 18px;"
          src="../../../../assets/img/twitter-verified.png">
      </span>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
        <span class="headerUserUsername dottedOverflow">
          @{{ user.username }}
        </span>
        <span *ngIf="user.isFollowingMe" class="followsYou" fxLayoutAlign="center center">Segue você</span>
      </div>

    </div>

    <div fxLayout="column" fxLayoutAlign=" start" style="padding: 100px;">
      <span class="dialogTitleWithSubtitle">Você foi bloqueado </span>
      <span class="dialogSubtitle"> Você não pode seguir nem ver os posts de
        <span style="word-break: break-all;">@{{user.username}}</span>.
        <a class="blueLinks blockCursor">Saiba mais</a>
      </span>
    </div>
  </div>
</div>
