<div fxLayout="column" fxLayoutAlign=" stretch" class="profileContainer">
  <div id="bluredHeaderStyle" class="headerTabs" fxLayout="column" fxLayoutAlign=" stretch" class="bluredHeaderStyle">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30" style="padding: 8px 12px;">
      <button mat-mini-fab (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div fxLayout="column" fxLayoutGap="4" class="headerTitle">
        Conectar
      </div>
    </div>

    <mat-tab-group fitInkBarToContent #tabGroup (selectedTabChange)="tabChange(tabGroup.selectedIndex)">
      <mat-tab label="Quem Seguir"></mat-tab>
      <mat-tab label="Criadores para você"></mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>
  </div>
</div>
