html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  height: 100%;
  margin: 0;
  color: #f7f9f9 !important;
  background: rgb(21, 32, 43);
}

a {
  text-decoration: none;
  margin: 0px !important;
  padding: 0px !important;
}

p {
  margin: 0px !important;
  padding: 0px !important;
}
