@font-face {
  font-family: 'TwitterChirpExtendedHeavy';
  src: url('../src/assets/fonts/chirp-extended-heavy-web.woff2') format('woff2');
  src: url('../src/assets/fonts/chirp-extended-heavy-web.woff') format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('../src/assets/fonts/chirp-regular-web.woff2') format('woff2');
  src: url('../src/assets/fonts/chirp-regular-web.woff') format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
  text-shadow: none !important;
}


@font-face {
  font-family: 'TwitterChirpBold';
  src: url('../src/assets/fonts/chirp-bold-web.woff2') format('woff2');
  src: url('../src/assets/fonts/chirp-bold-web.woff') format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

html {
  height: 100%;
  font-family: 'TwitterChirp';
  color: #f7f9f9;
}

body {
  font-family: 'TwitterChirp';
  height: 100%;
  margin: 0;
  color: #f7f9f9 !important;
  background: rgb(0, 0, 0);
}

.mat-typography {
  line-height: inherit;
}

//cor do background do mat-form-field-fill
.mdc-text-field--filled {
  background-color: transparent !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-color: transparent !important;
}

//cor do texto do mat-form-field
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(255, 255, 255, 0.87);
}

.mdc-text-field--disabled .mdc-text-field__input {
  color: rgba(122, 122, 122, 0.87);
}

//cor da borda do mat-form-field
.mat-mdc-text-field-wrapper {
  border: 1px solid rgb(76, 79, 82);
  border-radius: 4px !important;
  padding: 1px 10px !important;
}

//cor da borda do mat-form-field quando clicado
.mat-focused .mat-mdc-text-field-wrapper {
  border: 2px solid rgb(26, 140, 216);
  padding: 0 10px !important;
}

//cor do label do form-field
.mat-mdc-form-field-infix label {
  color: rgb(99, 101, 104) !important;
  font-weight: 500;
  font-size: 17px;
  font-family: 'TwitterChirp';
}

//cor do label do form-field quando clicado
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgb(26, 140, 216) !important;
}

//limite de caracteres dentro do mat-form-field (input text)
.textFormField .mat-mdc-form-field-icon-suffix {
  display: none !important;
}

.textFormField .mdc-text-field--focused:not(.mdc-text-field--disabled) .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: start !important;
  padding-top: 8px !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(76, 79, 82) !important;
}

//'success' form-fields-suffix
.successFormField .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: end !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(2, 2, 2) !important;
}

.successFormField mat-icon {
  background-color: #00ba7c;
  border-radius: 100%;
  padding: 5px;
  transform: scale(0.5);
}

// Password formfield suffix
.passwordFormField .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: end !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255) !important;
}

.passwordFormField .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 0 10px 0 !important;
}



//removendo * de campos required
.mat-mdc-form-field-required-marker {
  display: none;
}

//removendo underline vermelho nos campos invlidos
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}

//cor da borda do form-field quando invalido
.mat-form-field-invalid .mat-mdc-text-field-wrapper {
  border: 1px solid rgb(212, 30, 30) !important;
  padding: 1px 10px !important;
}

.mat-form-field-invalid .mdc-text-field--focused {
  border: 2px solid rgb(212, 30, 30) !important;
  padding: 0px 10px !important;
}

//cor do label quando input com foco e invalido
.mat-form-field-invalid .mdc-text-field--focused .mdc-floating-label {
  color: rgb(212, 30, 30) !important;
}

.mdc-text-field--invalid .mdc-floating-label--float-above {
  color: rgb(212, 30, 30) !important;
}

//remove default arrow mat-select
.mat-mdc-select-arrow-wrapper {
  display: none !important;
}

// ajustar posicao arrow do mat-select
.matSelectSuffixArrow {
  padding: 0 !important;
}

// cor padrão do arrow do mat-select
.selectFormField .mat-mdc-form-field-icon-suffix {
  color: rgb(76, 79, 82) !important;
}

// cor do arrow do mat-select quando clicado
.selectFormField .mdc-text-field--focused:not(.mdc-text-field--disabled) .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix {
  color: rgb(26, 140, 216) !important;
}

//Mat Dialog Styles
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: rgb(3, 3, 3) !important;
  --mdc-dialog-container-shape: 20px !important;
  --mdc-dialog-container-elevation-shadow: none !important;
}

.modalStyleBackdrop {
  background: rgba(91, 112, 131, 0.4);
}

.transparentModalStyleBackdrop {
  background: transparent;
}

.transparentModalStyle .mat-mdc-dialog-container {
  --mdc-dialog-container-color: rgb(0, 0, 0) !important;
  --mdc-dialog-container-shape: 20px !important;
  --mdc-dialog-container-elevation-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px !important;
}

//mat-select-option
.mat-mdc-option {
  color: rgba(255, 255, 255, 0.87) !important;
  font-size: 17px !important;
  padding: 0px 5px !important;
  min-height: 0px !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: rgb(4, 102, 230) !important;
  cursor: auto !important;
}

//background-color da opção selecionada
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: rgb(4, 102, 230) !important;
}

//removendo icon de selected do option
.mdc-list-item--selected mat-pseudo-checkbox {
  display: none;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: rgba(255, 255, 255, 0.87) !important;
}

//Cor do background do mat-select
.mat-mdc-select-panel {
  background-color: black !important;
  border: 1px solid white;
  padding: 0px !important;
}

.mat-mdc-select {
  color: rgba(255, 255, 255, 0.87) !important;
}

//Slider
.mat-mdc-slider{
  width: 280px !important;
  pointer-events: none;
}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: rgb(83, 163, 226) !important;
  --mdc-slider-focus-handle-color: rgb(83, 163, 226) !important;
  --mdc-slider-hover-handle-color: rgb(83, 163, 226) !important;
  --mdc-slider-active-track-color: rgb(83, 163, 226) !important;
  --mdc-slider-inactive-track-color: rgb(83, 163, 226) !important;
  --mdc-slider-with-tick-marks-active-container-color: #fff;
  --mdc-slider-with-tick-marks-inactive-container-color: rgb(83, 163, 226) !important;
  --mat-mdc-slider-ripple-color: rgb(83, 163, 226) !important;
  --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

.mat-mdc-slider .mdc-slider__track--inactive {
  background-color: rgb(142, 205, 248) !important;
  opacity: 1 !important;
}

.mat-mdc-slider.mdc-slider--disabled {
  opacity: 1 !important;
}

.mat-mdc-slider.mdc-slider--disabled .mdc-slider__thumb-knob {
  background-color: rgb(83, 163, 226) !important;
  border-color: #1d9bf0 !important;
}

.mdc-slider__input {
  cursor: not-allowed !important;
}


//
.noInvisibleDivFormField .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.advanceButton[disabled] {
  background-color: rgb(120, 122, 122) !important;
  color: #000 !important;
}

.sideNavMenuTweetButton {
  padding: 25px 95px !important;
  background-color: rgb(29, 154, 239) !important;
  color: #f7f9f9 !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  letter-spacing: 0px;
  border-radius: 30px !important;
  transition: background-color 0.2s ease-in-out !important;
  margin-top: 20px !important;
}

.sideNavMenuTweetButton:hover {
  background-color: rgb(26, 140, 216) !important;
}

.advanceButton {
  padding: 25px 95px !important;
  background-color: rgb(255, 255, 255) !important;
  color: #000 !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  letter-spacing: 0px;
  border-radius: 30px !important;
  transition: background-color 0.2s ease-in-out !important;
  margin-top: 20px;
}

.advanceButton:hover {
  background-color: rgb(241, 241, 241) !important;
}

.ignoreButton {
  padding: 25px 95px !important;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  letter-spacing: 0px;
  border-radius: 30px !important;
  transition: background-color 0.2s ease-in-out !important;
  margin-top: 20px;
  border: 1px solid rgb(113, 118, 123) !important;
}

.ignoreButton:hover {
  background-color: rgba(255, 255, 255, 0.034) !important;
}

.applyButton {
  font-family: 'TwitterChirp';
  padding: 16px;
  background-color: white !important;
  color: #000;
  font-weight: 600;
  border-radius: 50px !important;
  transition: background-color 0.2s ease-in-out !important;
}

.applyButton:hover {
  background-color: rgba(241, 241, 241) !important;
}

// CROPPER COMPONENT
.cropper-g {
  height: 100% !important;
  width: 100% !important;
}

.sliderContainer-i{
  margin: 20px 0 0 0 !important;
  max-width: 100% !important;
  background-color: transparent !important;
}

.LyImageCropper-area-d:after{
  border: 4px solid rgb(26, 140, 216) !important;
}

.dialogSteps {
  font-size: 20px;
  font-weight: 600;
  font-family: 'TwitterChirp' !important;
}

a {
  text-decoration: none;
  margin: 0px !important;
  padding: 0px !important;
}

p {
  margin: 0px !important;
  padding: 0px !important;
}

.cursorPointer {
  cursor: pointer;
}

.displayCentralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayAlign {
  display: flex;
  align-items: center;
}

.displayRight {
  display: flex;
  justify-content: end;
}

.displayColumn {
  display: flex;
  flex-direction: column;
}

.rightAlign {
  align-items: end;
}

.backgroundTransition {
  transition: 0.2s ease-in-out background-color;
}

.blueLinks {
  color: rgb(29, 155, 240);
}

.blueLinks:hover {
  text-decoration: underline;
}

.blockCursor {
  cursor: not-allowed;
}

.formFieldError {
  color: rgb(212, 30, 30) !important;
  font-size: 13px !important;
  padding-left: 10px;
  font-weight: 100 !important;
}

.sideNavMenuProfileButtonName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 15px;
}

.sideNavMenuProfileButtonId {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(121, 134, 147);
  font-size: 15px;
}

.searchButtonHeader {
  display: flex;
  width: 100%;
  height: 6vh;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
}

.searchButton {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5vh;
  border-radius: 40px;
  background-color: rgb(39, 51, 64);
}

.searchButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 100%;
  cursor: auto;
  color: rgb(120, 133, 147) !important;
}

.searchButtonInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83%;
  height: 100%;
  cursor: text;
}

.searchButtonInput input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  border-radius: 0px 20px 20px 0px;
}

input:focus {
  outline: none;
  caret-color: white;
}

input::placeholder {
  font-size: 16px !important;
  color: rgb(120, 133, 147) !important;
}

.clicked {
  background-color: transparent !important;
  border: solid 1px rgb(29, 155, 240);
}

.clicked .searchButtonIcon mat-icon {
  color: rgb(29, 155, 240);
}

.sideNavMenuProfileButtonImage {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(91, 112, 131, 0.4);
}

.twitterTerms {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: rgb(113, 118, 123);
}
