@font-face {
  font-family: 'TwitterChirpExtendedHeavy';
  src: url('../src/assets/fonts/chirp-extended-heavy-web.woff2') format('woff2');
  src: url('../src/assets/fonts/chirp-extended-heavy-web.woff') format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('../src/assets/fonts/chirp-regular-web.woff2') format('woff2');
  src: url('../src/assets/fonts/chirp-regular-web.woff') format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
  text-shadow: none !important;
}


@font-face {
  font-family: 'TwitterChirpBold';
  src: url('../src/assets/fonts/chirp-bold-web.woff2') format('woff2');
  src: url('../src/assets/fonts/chirp-bold-web.woff') format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

html {
  height: 100%;
  font-family: 'TwitterChirp';
  color: #e7e9ea;
}

body {
  font-family: 'TwitterChirp';
  height: 100%;
  margin: 0;
  color: #e7e9ea !important;
  background: rgb(0, 0, 0);
}

.mat-typography {
  line-height: inherit;
}

.mat-divider {
  border-top-width: 1px !important;
  border-top-color: #363636 !important;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: rgb(26, 140, 216) !important;
}
//spinner
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: rgb(26, 140, 216) !important;
}

//Progress bar
.mdc-linear-progress__bar-inner {
  border-color: rgb(26, 140, 216) !important;
}

//cor do background do mat-form-field-fill
.mdc-text-field--filled {
  background-color: transparent !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-color: transparent !important;
}

//cor do texto do mat-form-field
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(255, 255, 255, 0.87) !important;
}

.mdc-text-field--disabled .mdc-text-field__input {
  color: rgba(122, 122, 122, 0.87) !important;
}

//cor da borda do mat-form-field
.mat-mdc-text-field-wrapper {
  border: 1px solid rgb(76, 79, 82) !important;
  border-radius: 4px !important;
  padding: 1px 10px !important;
}

//cor da borda do mat-form-field quando clicado
.mat-focused .mat-mdc-text-field-wrapper {
  border: 2px solid rgb(26, 140, 216) !important;
  padding: 0 10px !important;
}

//cor do label do form-field
.mat-mdc-form-field-infix label {
  color: rgb(99, 101, 104) !important;
  font-weight: 500;
  font-size: 17px;
  font-family: 'TwitterChirp';
}

//cor do label do form-field quando clicado
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgb(26, 140, 216) !important;
}

//limite de caracteres dentro do mat-form-field (input text)
.textFormField .mat-mdc-form-field-icon-suffix {
  display: none !important;
}

.textFormField .mdc-text-field--focused:not(.mdc-text-field--disabled) .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: start !important;
  padding-top: 8px !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(76, 79, 82) !important;
}

//limite de caracteres dentro do mat-form-field (textarea)
textarea {
  resize: none !important;
}

.textAreaFormField .mat-mdc-form-field-icon-suffix {
  display: none !important;
}

.textAreaFormField .mdc-text-field--focused:not(.mdc-text-field--disabled) .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: start !important;
  padding-top: 8px !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(76, 79, 82) !important;
}

.textAreaFormField.mat-mdc-form-field {
  height: 120px !important;
  overflow: auto;
}

.mat-mdc-form-field-flex {
  height: 100%;
}

.mat-mdc-form-field-flex textarea {
  height: 100% !important;
}

.textAreaFormField .mdc-text-field .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
  height: 100% !important;
}

//invisible text area
.invisibleTextAreaFormField .mat-mdc-text-field-wrapper,
.invisibleTextAreaFormField .mat-form-field-invalid .mat-mdc-text-field--wrapper  {
  border: none !important;
}

//mat-form-field disabled
.mat-mdc-text-field-wrapper.mdc-text-field--disabled {
  border: none !important;
  background: rgba(255, 255, 255, 0.06) !important;
}

//'success' form-fields-suffix
.successFormField .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: end !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(2, 2, 2) !important;
}

.successFormField mat-icon {
  background-color: #00ba7c;
  border-radius: 100%;
  padding: 5px;
  transform: scale(0.5);
}

.successFormField.mat-form-field-invalid mat-icon {
  background-color: #ba0000;
  transform: scale(0.9);
  padding: 0 !important;
  margin: 5px;
}

.ng-invalid.ng-untouched .mat-mdc-form-field-icon-suffix {
  display: none !important;
}

// Password formfield suffix
.passwordFormField .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: end !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255) !important;
}

.passwordFormField .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 0 10px 0 !important;
}

.passwordFormField.ng-invalid .mat-mdc-form-field-icon-suffix {
  display: block !important;
  align-self: end !important;
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255) !important;
}

//removendo * de campos required
.mat-mdc-form-field-required-marker {
  display: none;
}

//removendo underline vermelho nos campos invlidos
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}

//cor da borda do form-field quando invalido
.mat-form-field-invalid .mat-mdc-text-field-wrapper {
  border: 1px solid rgb(212, 30, 30) !important;
  padding: 1px 10px !important;
}

.mat-form-field-invalid .mdc-text-field--focused {
  border: 2px solid rgb(212, 30, 30) !important;
  padding: 0px 10px !important;
}

//cor do label quando input com foco e invalido
.mat-form-field-invalid .mdc-text-field--focused .mdc-floating-label {
  color: rgb(212, 30, 30) !important;
}

.mdc-text-field--invalid .mdc-floating-label--float-above {
  color: rgb(212, 30, 30) !important;
}

//remove default arrow mat-select
.mat-mdc-select-arrow-wrapper {
  display: none !important;
}

// ajustar posicao arrow do mat-select
.matSelectSuffixArrow {
  padding: 0 !important;
}

// cor padrão do arrow do mat-select
.selectFormField .mat-mdc-form-field-icon-suffix {
  color: rgb(76, 79, 82) !important;
}

// cor do arrow do mat-select quando clicado
.selectFormField .mdc-text-field--focused:not(.mdc-text-field--disabled) .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix {
  color: rgb(26, 140, 216) !important;
}

//Mat Dialog Styles
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: rgb(3, 3, 3);
  --mdc-dialog-container-elevation-shadow: none !important;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
  align-items: center !important;
}

.bordered-dialog .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 20px !important;
}

.no-border-dialog .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;
}

.newTweetDialog{
    max-height: 90vh !important;
    top: 50px !important;
    position: absolute !important;
}

.modalStyleBackdrop {
  background: rgba(91, 112, 131, 0.4);
}

.transparentModalStyleBackdrop {
  background: transparent;
}

.transparentModalStyle .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 20px !important;
  --mdc-dialog-container-elevation-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px !important;
}

.fullScreenPictureModalStyle>.mat-mdc-dialog-container {
  --mdc-dialog-container-color: rgba(0, 0, 0, 0.76) !important;
}

//mat-select-option
.mat-mdc-option {
  color: rgba(255, 255, 255, 0.87) !important;
  font-size: 17px !important;
  padding: 0px 5px !important;
  min-height: 0px !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: rgb(4, 102, 230) !important;
  cursor: auto !important;
}

//background-color da opção selecionada
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: rgb(4, 102, 230) !important;
}

//removendo icon de selected do option
.mdc-list-item--selected mat-pseudo-checkbox {
  display: none;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: rgba(255, 255, 255, 0.87) !important;
}

//Cor do background do mat-select
.mat-mdc-select-panel {
  background-color: black !important;
  border: 1px solid white;
  padding: 0px !important;
}

.mat-mdc-select {
  color: rgba(255, 255, 255, 0.87) !important;
}

//Slider
.mat-mdc-slider {
  width: 280px !important;
  pointer-events: none;
}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: rgb(83, 163, 226) !important;
  --mdc-slider-focus-handle-color: rgb(83, 163, 226) !important;
  --mdc-slider-hover-handle-color: rgb(83, 163, 226) !important;
  --mdc-slider-active-track-color: rgb(83, 163, 226) !important;
  --mdc-slider-inactive-track-color: rgb(83, 163, 226) !important;
  --mdc-slider-with-tick-marks-active-container-color: #fff;
  --mdc-slider-with-tick-marks-inactive-container-color: rgb(83, 163, 226) !important;
  --mat-mdc-slider-ripple-color: rgb(83, 163, 226) !important;
  --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

.mat-mdc-slider .mdc-slider__track--inactive {
  background-color: rgb(142, 205, 248) !important;
  opacity: 1 !important;
}

.mat-mdc-slider.mdc-slider--disabled {
  opacity: 1 !important;
}

.mat-mdc-slider.mdc-slider--disabled .mdc-slider__thumb-knob {
  background-color: rgb(83, 163, 226) !important;
  border-color: #1d9bf0 !important;
}

.mdc-slider__input {
  cursor: not-allowed !important;
}

.noInvisibleDivFormField .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.snackbarLoginError .mdc-snackbar__surface {
  background-color: #1d9bf0 !important;
  color: white !important;
  min-width: 0px !important;
}

.mat-mdc-snack-bar-container {
  position: fixed !important;
}

.mdc-snackbar {
  bottom: 27px !important;
}

.mat-mdc-snack-bar-label {
  font-size: 15px !important;
}

.mdc-button__label{
  color: white !important;
  font-weight: 900 !important;
}

// CROPPER COMPONENT
.cropper-g {
  height: 100% !important;
  width: 100% !important;
}

.sliderContainer-i {
  margin: 20px 0 0 0 !important;
  max-width: 100% !important;
  background-color: transparent !important;
}

.LyImageCropper-area-d:after {
  border: 4px solid rgb(26, 140, 216) !important;
}

.mdc-button {
  letter-spacing: none !important;
}

.dialogSteps {
  font-size: 20px;
  font-weight: 600;
  font-family: 'TwitterChirp' !important;
}

a {
  font-family: 'TwitterChirp' !important;
  text-decoration: none;
  margin: 0px !important;
  padding: 0px !important;
}

p {
  font-family: 'TwitterChirp' !important;
  margin: 0px !important;
  padding: 0px !important;
}

span {
  font-family: 'TwitterChirp' !important;
}

div {
  font-family: 'TwitterChirp' !important;
}

.cursorPointer {
  cursor: pointer;
}

.displayCentralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayAlign {
  display: flex;
  align-items: center;
}

.displayRight {
  display: flex;
  justify-content: end;
}

.displayColumn {
  display: flex;
  flex-direction: column;
}

.rightAlign {
  align-items: end;
}

.backgroundTransition {
  transition: 0.2s ease-in-out background-color;
}

.blueLinks {
  color: rgb(29, 155, 240) !important;
}

.blueLinks:hover {
  text-decoration: underline;
}

.blockCursor {
  cursor: not-allowed !important;
}

button {
  border: none;
  padding: 0px;
  margin: 0px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.mat-mdc-mini-fab.mat-accent {
  height: 36px;
  width: 36px;
  --mdc-fab-container-color: rgba(255, 64, 128, 0) !important;
}

.selectPhotoIconButton.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: rgba(22, 26, 34, 0.658) !important;
}

.selectPhotoIconButton.mat-mdc-mini-fab.mat-accent:hover {
  --mdc-fab-container-color: rgba(22, 26, 34, 0.658) !important;
}

.iconButtonBorder.mat-mdc-mini-fab.mat-accent {
  border: 1px solid rgb(56, 68, 77);
}

.iconButtonBorder mat-icon {
  transform: scale(0.9);
}

.selectPhotoIconButton mat-icon {
  transform: scale(0.85);
}

._32pxButton {
  height: 32px !important;
  max-height: 32px !important;
  padding: 0 16px;
  font-size: 14px !important;
}

._36pxButton {
  height: 36px !important;
  max-height: 36px !important;
  padding: 0 16px;
  font-size: 15px !important;
}

._44pxButton {
  height: 44px !important;
  max-height: 44px !important;
  padding: 0 16px;
  font-size: 15px !important;
  border-radius: 50px !important;
}

._52pxButton {
  height: 52px !important;
  max-height: 52px !important;
  padding: 0 16px;
  font-size: 17px !important;
  border-radius: 50px !important;
}

.transparentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TwitterChirp';
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  color: rgb(255, 255, 255) !important;
  background-color: transparent !important;
  border: solid 1px rgb(83, 100, 113) !important;
  transition: background-color 0.2s ease-in-out !important;
  letter-spacing: none;
}

.transparentButton:hover {
  background-color: rgba(255, 255, 255, 0.082) !important;
}

.transparentButton[disabled]{
  opacity: 0.5;
}

.whiteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TwitterChirp';
  font-weight: 600;
  border-radius: 800px !important;
  color: #0F1419 !important;
  background-color: white;
  transition: background-color 0.2s ease-in-out !important;
  letter-spacing: none;
}

.whiteButton:hover {
  background-color: rgb(233, 233, 233);
}

.whiteButton[disabled] {
  background-color: rgb(120, 122, 122) !important;
  color: #000 !important;
  letter-spacing: none;
}

.blueButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TwitterChirp';
  font-weight: 600;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 155, 240);
  transition:  0.2s ease-in-out !important;
  letter-spacing: none;
}

.blueButton:hover {
  background-color: rgb(18, 147, 233);
}

.blueButton[disabled]{
  opacity: 0.5 !important;
}

.transparentButtonBlueText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TwitterChirp';
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  color: rgb(29, 155, 240);
  background-color: transparent !important;
  border: solid 1px rgb(83, 100, 113) !important;
  transition: background-color 0.2s ease-in-out !important;
  letter-spacing: none;
}

.transparentButtonBlueText:hover {
  background-color: rgba(255, 255, 255, 0.082) !important;
}

.blockedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TwitterChirp';
  font-weight: 600;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: #dc1e29 !important;
  transition: background-color 0.2s ease-in-out !important;
  padding: 0 16px;
  font-size: 15px !important;
  letter-spacing: none;
}

.blockedButton[disabled]{
  opacity: 0.5;
}

.formFieldError {
  color: rgb(212, 30, 30) !important;
  font-size: 13px !important;
  padding-left: 10px;
  font-weight: 100 !important;
}

.userFirstName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 15px;
}

.userFirstName:hover {
  text-decoration: underline;
}

.userUsername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(121, 134, 147);
  font-size: 15px;
}

.followsYou {
  white-space: nowrap;
  width: 70px;
  background-color: #202327;
  font-size: 11px;
  padding: 2px 4px;
  border-radius: 5px;
  color: rgb(113, 118, 123);
}

.userBiography {
  font-size: 15px !important;
  color: rgb(231, 233, 234);
  word-break: break-all;
}

.sideNavMenuProfileButtonImage {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

//Backdrop color sidenav mobi
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(91, 112, 131, 0.4) !important;
}

.twitterTerms {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: rgb(113, 118, 123);
}

.profilePicture {
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dialogTitle {
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: 'TwitterChirp' !important;
}

.dialogTitleWithSubtitle {
  font-size: 31px;
  font-weight: 600;
  font-family: 'TwitterChirp' !important;
}

.smallerDialogTitleWithSubtitle {
  font-size: 20px;
  font-weight: 600;
  font-family: 'TwitterChirp' !important;
}

.dialogSubtitle {
  padding: 15px 0 30px 0;
  font-size: 15px;
  color: rgb(113, 118, 123)
}

.bigButtonOnGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: rgb(97, 109, 121) !important;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent !important;
  border: none !important;
  transition: background-color 0.2s ease-in-out;
}

.bigButtonOnGroup:hover {
  background-color: rgba(255, 255, 255, 0.07) !important;
  cursor: pointer;
}

.bigButtonOnGroupActive {
  color: #f7f9f9 !important;
  font-weight: 600 !important;
}

.bigButtonOnGroupActiveBorder {
  min-width: 70px;
  height: 4px;
  background-color: rgb(29, 155, 240);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.searchContainer {
  width: 345px;
  margin-left: 30px;
  margin-right: 30px;
}

//Profile Styles

.profileContainer {
  width: 100%;
  min-height: 100%;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19px !important;
  font-weight: 600 !important;
  letter-spacing: 1.3px !important;
}

.header {
  height: 53px;
  padding: 0 16px;
}

.headerUserFirstName {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}

.headerUserPosts {
  font-size: 13px;
  color: #71767b;
}

.profileBackground {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.picture {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  transition: 0.2s opacity ease-in-out;
}

.profilePicture:hover .picture {
  opacity: 0.9;
}

.headerUserUsername {
  font-size: 15px;
  color: #71767b;
}

.biography span {
  font-size: 15px;
  font-weight: 500;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Define uma cor de fundo semi-transparente */
  z-index: 9999;
}

.info mat-icon {
  color: #71767b !important;
  transform: scale(0.8);
  word-break: normal;
}

.info span {
  color: #71767b !important;
  font-size: 15px;
}

.info a {
  font-size: 15px;
}

.informations {
  flex-wrap: wrap;
}

.followsNumber {
  font-weight: 700;
  font-size: 14px;
}

.followsText {
  font-size: 14px;
  color: #71767b;
}

.follows:hover {
  text-decoration: underline white !important;
  color: white;
}

.dottedOverflow {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.wordBreak {
  word-break: break-all;
}

.cdk-overlay-pane,
.modalStyle {
  max-width: 100vw !important;
}

.fullScreenPictureModalStyle {
  background: rgba(0, 0, 0, 0.7);
}

.mat-icon-background:hover {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.082) !important;
}

.mat-mdc-mini-fab,
.mat-mdc-fab {
  box-shadow: none !important;
}

.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: transparent;
  --mdc-fab-icon-color: white;
  --mat-mdc-fab-color: #fff;
}

.mat-mdc-mini-fab.mat-accent:hover {
  --mdc-fab-container-color: rgba(255, 255, 255, 0.082) !important;
}

.sideNavMobileMenuProfileInfos {
  font-size: 14px;
  display: flex;
}

.sideNavMobileMenuProfileInfos div {
  cursor: pointer;
  color: rgb(113, 118, 123);
  margin-right: 15px;
}

.sideNavMobileMenuProfileInfos div:hover {
  text-decoration: underline white !important;
}

.sideNavMobileMenuProfileInfos div strong {
  color: #f7f9f9 !important;
}

#bluredHeaderStyle {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  z-index: 1;
  transition: 0.4s cubic-bezier(0, .39, .64, .98)
}

//Mat Tabs
.mat-mdc-tab-group{
  border-bottom: 1px solid rgb(56, 68, 77) !important;
}
.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-radius: 100px !important;
  border-top-width: 4px !important;
  border-color: rgb(29, 155, 240) !important;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: rgb(97, 109, 121) !important;
  letter-spacing: 0.5px !important;
  font-size: 15px !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: white !important;
  font-weight: 800 !important;
  letter-spacing: 0.5px !important;
  font-size: 15px !important;
}

.mat-mdc-tab-header-pagination-chevron {
  border-color: white !important;
}

.mat-mdc-tab {
  transition: background-color 0.2s ease-in-out !important;
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.mat-mdc-tab:hover {
  background-color: rgba(255, 255, 255, 0.07) !important;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: transparent !important;
  --mat-tab-header-active-label-text-color: transparent !important;
  --mat-tab-header-active-ripple-color: transparent !important;
  --mat-tab-header-inactive-ripple-color: transparent !important;
  --mat-tab-header-active-focus-label-text-color: transparent !important;
  --mat-tab-header-active-hover-label-text-color: transparent !important;
  --mat-tab-header-active-focus-indicator-color: transparent !important;
  --mat-tab-header-active-hover-indicator-color: transparent !important;
}

//MorePanel
.morePanelStyleBackdrop{
  background-color: transparent !important;
}

.morePanel {
  background-color: black;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.3em, rgba(255, 255, 255, 0.1) 0px 0.5em 1em;
  font-size: 15px;
  font-weight: 900;
  max-width: 350px;
}

.morePanel .morePanelItem:first-child {
  border-radius: 12px 12px 0 0;
}

.morePanel .morePanelItem:last-child {
  border-radius: 0 0 12px 12px;
}

.morePanelItem {
  padding: 12px 16px !important;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out !important;
}

.morePanelItem mat-icon {
  transform: scale(0.8);
}

.morePanelItem:hover {
  background-color: rgba(212, 217, 245, 0.07) !important;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  filter: drop-shadow(0px 0px 0.4em rgba(255, 255, 255, 0.5));
}

//Buscar Perfis
.filteredProfilesPanel {
  background-color: black;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.3em, rgba(255, 255, 255, 0.1) 0px 0.5em 1em;
  overflow-y: auto;
}

.exploreFilteredProfilesPanel {
  background-color: black;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.3em, rgba(255, 255, 255, 0.1) 0px 0.5em 1em;
  overflow-y: auto;
}

.searchFilteredProfilesPanel {
  background-color: black;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.3em, rgba(255, 255, 255, 0.1) 0px 0.5em 1em;
  overflow-y: auto;
}

.tweetImage{
  background-size: cover;
  background-position: center;
  padding: 6px;
  border-radius: 20px;
}

@media screen and (max-width:1111px) {
  .searchContainer {
    width: 275px;
    min-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width:1021px) {
  .searchContainer {
    display: none;
  }
}

@media screen and (max-width:687px) {

  .profileBackground {
    height: calc(32vw - 10px);
    max-height: 200px;
  }

}

@media screen and (max-width:498px) {

  .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: 0 !important;
    width: 100% !important;
  }

  .morePanelStyleBackdrop{
    background-color: rgba(91, 112, 131, 0.4) !important;
  }

  .morePanel {
    border-radius: 12px 12px 0 0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
  }

  .morePanel .morePanelItem:last-child {
    border-radius: 0px;
  }
  
}


