<div fxLayout="column" style="padding: 32px">
    <span class="smallerDialogTitleWithSubtitle" [@fastFadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '250ms' } }">
      Descartar alterações?
    </span>
    <span class="dialogSubtitle" [@fastFadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '300ms' } }">
      Esta ação não poderá ser desfeita e você perderá suas alterações.
    </span>
    <div fxLayout="column"fxLayoutGap="10">
      <button class="blockedButton cursorPointer _44pxButton" style="padding: 12px" (click)="confirmDiscardChanges()"
      [@fastFadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '350ms' } }">
        Descartar
      </button>
      <button class="transparentButton cursorPointer _44pxButton" style="padding: 12px" matDialogClose
      [@fastFadeInOutAnimation] [@zoomIn]="{ value: '', params: { time: '400ms' } }">
        Cancelar
      </button>
    </div>
  
  </div>
  