.followingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TwitterChirp';
  font-weight: 600;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: transparent !important;
  border: solid 1px rgb(83, 100, 113);
  transition: background-color 0.2s ease-in-out !important;
  height: 32px !important;
  max-height: 32px !important;
  padding: 0 16px;
  font-size: 14px !important;
}

.followingButton:hover {
  color: rgb(244, 33, 46) !important;
  border: 1px solid rgb(103, 7, 15) !important;
  background-color: rgba(244, 33, 47, 0.07) !important;
  cursor: pointer;
}
