<div *ngIf="!loaded" style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner [diameter]="30"></mat-spinner>
</div>

<div *ngIf="loaded" style="height: 100%; width: 100%;">
  <div style="padding: 16px; width: 100%; height: 10%;" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon fxflex="10" class="cursorPointer" mat-dialog-close>close</mat-icon>
    <img fxflex="80" fxLayout="row" fxLayoutAlign="center center" src="../../../../assets/img/twitter-x-logo.png"
      style="width: 30px; height: 30px;">
    <mat-icon fxflex="10"></mat-icon>
  </div>
  <div style="height: 90%; width: 100%;" fxLayout="row" fxLayoutAlign="center">
    <div *ngIf="firstStepLogin && !registerModal" style="width: 320px; padding: 16px;" fxLayout="column"
      fxLayoutAlign=" stretch">
      <span class="title">Entrar no X</span>
      <div fxLayout="column" fxLayoutGap="20">
        <div class="whiteButton blockCursor" fxLayoutGap="10">
          <img src="../../../../assets/img/google-logo.png" style="width: 20px; height: 20px;">
          <strong>Entrar com Google</strong>
        </div>

        <div class="whiteButton blockCursor" fxLayoutGap="10">
          <img src="../../../../assets/img/apple_logo.png" style="width: 15px; height: 20px;">
          <strong>Entrar com Apple</strong>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5">
          <mat-divider fxFlex="45"></mat-divider>
          <span fxFlex="10" fxLayout="row" fxLayoutAlign="center center"
            style="font-size: 17px; font-family: 'TwitterChirp';">ou</span>
          <mat-divider fxFlex="45"></mat-divider>
        </div>

        <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-form-field style="margin-bottom: -1.25em;">
            <mat-label>E-mail ou nome de usuário</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </form>

        <div fxLayout="row" fxLayoutAlign="center center" class="loginButton smallAdvanceButton"
          (click)="verifyIfUsernameExists()">
          <strong>Avançar</strong>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="loginButton transparentButton">
          <strong>Esqueceu sua senha?</strong>
        </div>

        <span style="font-size: 15px; color: rgb(113, 118, 123); ">Não tem uma conta? <a class="blueLinks cursorPointer"
            (click)="firstStepLogin = !firstStepLogin; registerModal = !registerModal"> Inscreva-se</a></span>

      </div>
    </div>

    <!--Second Step Login-->
    <div *ngIf="!firstStepLogin && !registerModal" style="padding: 15px 80px; width: 100%; height: 100%;"
      fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="column" fxLayoutGap="30px">
        <span class="title">Digite sua senha</span>

        <form [formGroup]="loginForm" fxLayout="column">
          <mat-form-field>
            <mat-label>{{isEmail ? 'E-mail': 'Nome de usuário'}}</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>

          <mat-form-field class="noInvisibleDivFormField passwordFormField">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide"> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
          </mat-form-field>
        </form>
      </div>

      <div fxLayout="column" fxLayoutGap="20">
        <div fxLayout="row" fxLayoutAlign="center center" class="advanceButton cursorPointer" (click)="login()">
          <strong>Entrar</strong>
        </div>

        <span style="font-size: 15px; color: rgb(113, 118, 123); ">
          Não tem uma conta? <a class="blueLinks cursorPointer" (click)="registerModal = !registerModal"> Inscreva-se </a>
        </span>
      </div>

    </div>

    <!--Second Step Login-->
    <div *ngIf="!firstStepLogin && registerModal" style="width: 320px; padding: 16px;" fxLayout="column" fxLayoutGap="20">

      <span class="title">Inscreva-se no X hoje mesmo</span>

      <div fxLayout="column" fxLayoutGap="20">
        <div class="whiteButton blockCursor" fxLayoutGap="10">
          <img src="../../../../assets/img/google-logo.png" style="width: 20px; height: 20px;">
          <strong>Inscrever-se com Google</strong>
        </div>

        <div class="whiteButton blockCursor" fxLayoutGap="10">
          <img src="../../../../assets/img/apple_logo.png" style="width: 15px; height: 20px;">
          <strong>Inscrever-se com Apple</strong>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5">
          <mat-divider fxFlex="45"></mat-divider>
          <span fxFlex="10" fxLayout="row" fxLayoutAlign="center center"
            style="font-size: 17px; font-family: 'TwitterChirp';">ou</span>
          <mat-divider fxFlex="45"></mat-divider>
        </div>

        <div class="whiteButton cursorPointer" fxLayoutGap="10" (click)="openCreateAccountDialog()">
          <strong>Criar conta</strong>
        </div>

        <div fxLayout="column" fxLayoutGap="40">
          <span style="color: rgb(113, 118, 123); font-size: 13px;">
            Ao se inscrever, você concorda com nossos <a class="blueLinks blockCursor">Termos</a>, com a
            <a class="blueLinks blockCursor">Política de Privacidade</a> e com o <a class="blueLinks blockCursor">Uso de
              Cookies</a>.
          </span>
  
          <span style="font-size: 15px; color: rgb(113, 118, 123); ">Já tem uma conta?
            <a class="blueLinks cursorPointer" (click)="firstStepLogin = !firstStepLogin; registerModal = !registerModal">
              Entrar
            </a>
          </span>
        </div>

      </div>
    </div>
