<div fxLayout="column">
    <div class="profileBackground" [style]="setBackgroundPhoto(anotherUserProfile.backgroundPhotoUrl)"
      (click)="anotherUserProfile.backgroundPhotoUrl ? visualizeBackgroundPicture(anotherUserProfile.backgroundPhotoUrl) : null">
    </div>
    <div fxLayout="column" fxLayoutGap="15" style="padding: 0 16px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="profileUserPicture cursorPointer" (click)="visualizeProfilePicture(anotherUserProfile.profilePhotoUrl)">
          <div class="picture" [style]="setProfilePhoto(anotherUserProfile.profilePhotoUrl)">
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10">
          <app-unblocked-user-actions [user]="anotherUserProfile"></app-unblocked-user-actions>

          <button mat-mini-fab class="iconButtonBorder">
            <mat-icon>mail_outline</mat-icon>
          </button>

          @if(anotherUserProfile.isFollowedByMe){
            <button mat-mini-fab class="iconButtonBorder" (click)="userNotificationsToggle(anotherUserProfile.userIdentifier)">
              @if(anotherUserProfile.isNotificationsAlertedByMe){
                <mat-icon>notifications_active</mat-icon>
              }
              @else {
                <mat-icon>notifications_off</mat-icon>
              }
            </button>
          }

          @if(anotherUserProfile.isFollowedByMe){
            <app-following-button-36px (click)="openUnfollowConfirmationModal(anotherUserProfile)"></app-following-button-36px>
          }
          @else {
            <button class="whiteButton cursorPointer _36pxButton" (click)="followUser(anotherUserProfile.username)">
              <span>Seguir</span>
            </button>
          }
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="4">
        <span class="headerUserFirstName wordBreak" fxLayout="row" fxLayoutAlign="start center"
          style="word-break: break-all;">
          {{ anotherUserProfile.firstName }} <img *ngIf="anotherUserProfile.isVerified" style="width: 18px; height: 18px;"
            src="../../../../assets/img/twitter-verified.png">
        </span>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
          <span class="headerUserUsername dottedOverflow">
            {{"@" + anotherUserProfile.username }}
          </span>
          <span *ngIf="anotherUserProfile.isFollowingMe" class="followsYou" fxLayoutAlign="center center">Segue você</span>
        </div>

      </div>

      @if(anotherUserProfile.biography){
        <div class="biography">
          <span>
            {{ anotherUserProfile.biography }}
          </span>
        </div>
      }
      
      <div fxLayout="row" fxLayoutGap="10" class="informations">
        @if(anotherUserProfile.location){
          <span class="info" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>location_on</mat-icon> <span>{{ anotherUserProfile.location }}</span>
          </span>
        }

        @if(anotherUserProfile.site){
          <span class="info" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>link</mat-icon> <a class="blueLinks" target="_blank" href="{{anotherUserProfile.site}}">{{ anotherUserProfile.site }}</a>
          </span>
        }
        
        <span class="info" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>event_note</mat-icon> <span>Ingressou em {{anotherUserProfile.registrationTime | date: 'MMMM'}} de
            {{anotherUserProfile.registrationTime | date: 'YYYY'}}</span>
        </span>
      </div>

      <div class="sideNavMobileMenuProfileInfos">
        <div (click)="redirectToFollowing(anotherUserProfile)">
          <strong>{{ anotherUserProfile.following }}</strong> Seguindo
        </div>

        <div (click)="redirectToFollowers(anotherUserProfile)">
          <strong>{{ anotherUserProfile.followers }}</strong> Seguidores
        </div>
      </div>
    </div>

    @if(!loadedCommonFollowers){
      <div fxLayout="row" fxLayoutAlign="center center" style="padding: 30px;">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    }
    @else {
      <app-known-followers [knownFollowers]="commonFollows" [username]="anotherUserProfile.username"></app-known-followers>
    }

    <app-profile-nav></app-profile-nav>

    <app-tweet></app-tweet>

  </div>